# Creat Class

In [2]:
class Emp :    #name of class
    EmpId =" 0 "    #Attribute 1 have initial value
    EmpName =""  #Att2
    EmpAddr =""   #Att3
    EmpSalary ="0" #Att4
    def getdata (self) :  # Method1
        return self.EmpId +" ; "+ self.EmpName+ " ; "+ self.EmpAddr+" ; "+ self.EmpSalary
    def printdata (self) : # Method 2
        print(self.getdata())
E1=Emp()   #object from class
E1.EmpId="111"   #A1
E1.EmpName="Ahmed" #A2
E1.EmpAddr="Egypt" #A3
E1.EmpSalary="20000" #A4
E1.printdata()  #M1
print(E1.getdata())  #m2




E2=Emp()
E2.EmpId="222"
E2.EmpName="Ali"
E2.EmpAddr="Germany"
E2.EmpSalary="500000"
E2.printdata()
print(E2.getdata())

111 ; Ahmed ; Egypt ; 20000
111 ; Ahmed ; Egypt ; 20000
222 ; Ali ; Germany ; 500000
222 ; Ali ; Germany ; 500000

# Initiolization

In [9]:
class Emp :    #name of class
    EmpId =" 0 "    #Attribute 1 have initial value
    EmpName =""  #Att2
    EmpAddr =""   #Att3
    EmpSalary ="0" #Att4
    def __init__(self):
        print("New Obtject From Class")
    def getdata (self) :  # Method1
        return self.EmpId +" ; "+ self.EmpName+ " ; "+ self.EmpAddr+" ; "+ self.EmpSalary
    def printdata (self) : # Method 2
        print(self.getdata())
        
E1=Emp()
E2=Emp()
E3=Emp()

New Obtject From Class
New Obtject From Class
New Obtject From Class

# Inside Parameter of Object in Class

In [24]:
class Empp :
    EmppId     = 0
    EmppName   = ""
    EmppAddr   = ""
    EmppSalary = 0
    def __init__(self,ID,Name,Addrs,Salary) :
        self.EmppId        =ID
        self.EmppName      = Name
        self.EmppAddr      = Addrs
        self.EmppSalary    = Salary
    def getdata (self) :
        return str(self.EmppId) +" ; "+self.EmppName+" ; "+self.EmppAddr+" ; "+str(self.EmppSalary)
    def printdata (self):
        print(self.getdata())

E1=Empp(1,"Ali","Cairo",20000)
E2=Empp(2,"Ahmed","Giza",10000)


print(E1.getdata())
print(E2.getdata())

1 ; Ali ; Cairo ; 20000
2 ; Ahmed ; Giza ; 10000

# Index of objects

In [35]:
from itertools import count

class Empp :
    objectscount = count(0)     #constant for all object
    index        = 0    # change every time
    EmppId       = 0
    EmppName     = ""
    EmppAddr     = ""
    EmppSalary   = 0
    
  
        
    def __init__(self,ID,Name,Addrs,Salary) :
        self.index         =next(self.objectscount)
        
        self.EmppId        =ID
        self.EmppName      = Name
        self.EmppAddr      = Addrs
        self.EmppSalary    = Salary
        
    
        
    def getdata (self) :
        return str(self.EmppId) +" ; "+self.EmppName+" ; "+self.EmppAddr+" ; "+str(self.EmppSalary)
    def printdata (self):
        print(self.getdata())

E1=Empp(1,"Ali","Cairo",20000)
E2=Empp(2,"Ahmed","Giza",10000)
E3=Empp(3,"Mido","Tanta",30000)
E4=Empp(4,"Turki","naser city",40000)


print(E1.getdata())
print(E2.getdata())
print(E3.getdata())
print(E4.getdata())


print(E1.index)
print(E2.index)
print(E3.index)
print(E4.index)




print(E1.objectscount)
print(E2.objectscount)
print(E3.objectscount)
print(E4.objectscount)

1 ; Ali ; Cairo ; 20000
2 ; Ahmed ; Giza ; 10000
3 ; Mido ; Tanta ; 30000
4 ; Turki ; naser city ; 40000
0
1
2
3
count(4)
count(4)
count(4)
count(4)

# Gloal Variable Inside Class

In [5]:
X=0                   # initial value of X
class Emp :
    Id     = 0
    Name   = ""
    Addrs  = ""
    Salary = 0
    global X        # define X in Class
    X=100           # give Variable  Value
    
    def getdata (self) :
        return str(self.Id)+" ; "+self.Name+" ; "+self.Addrs+" ; "+str(self.Salary)
    def printdata (self) :
        print(self.getdata())
        
E1=Emp ()
print(X)
E1.Id=1
E1.Name="Ahmed"
E1.Addrs="Cairo"
E1.Salary=20000
print(E1.getdata())

100
1 ; Ahmed ; Cairo ; 20000

In [7]:
X=0             # initial value of X
class Emp :
    Id     = 0
    Name   = ""
    Addrs  = ""
    Salary = 0
    
    def changeX(self,Num) :     # Creat fun to change X
        global X                # define X in Class
        
        X=Num                   # Give X Value From User
       
            
    
    def getdata (self) :
        return str(self.Id)+" ; "+self.Name+" ; "+self.Addrs+" ; "+str(self.Salary)
    def printdata (self) :
        print(self.getdata())
        
E1=Emp ()
E1.changeX(200)
print(X)
E1.Id=1
E1.Name="Ahmed"
E1.Addrs="Cairo"
E1.Salary=20000
print(E1.getdata())

200
1 ; Ahmed ; Cairo ; 20000

In [10]:
X=0             # initial value of X
class Emp :
    Id     = 0
    Name   = ""
    Addrs  = ""
    Salary = 0
    
    def __init__(self) :   # fun of Count
        
        global X           # define X in Class
        X+=1               # increament
            
    
    def getdata (self) :
        return str(self.Id)+" ; "+self.Name+" ; "+self.Addrs+" ; "+str(self.Salary)
    def printdata (self) :
        print(self.getdata())
        
E1=Emp ()
E2=Emp()
E3=Emp()
print(X)
E1.Id=1
E1.Name="Ahmed"
E1.Addrs="Cairo"
E1.Salary=20000
print(E1.getdata())
E2.Id=2
E2.Name="Ali"
E2.Addrs="Giza"
E2.Salary=50000
print(E2.getdata())
E3.Id=3
E3.Name="Mido"
E3.Addrs="Naser City"
E3.Salary=60000
E3.printdata()

3
1 ; Ahmed ; Cairo ; 20000
2 ; Ali ; Giza ; 50000
3 ; Mido ; Naser City ; 60000

# Destructor or delet  Object

In [1]:
class Test :
    def __init__(self) :                 # func Of create
        print("Created Object done")
    def __del__(self) :                 # Func Of delete
        print("Deleted Object done")
        
#create T1 ,T2, T3        
        
   
        
T1=Test()
T2=Test()
T3=Test()


#Delete T3,T2

del T3
del T2

Created Object done
Created Object done
Created Object done
Deleted Object done
Deleted Object done

# Append Attributes to Class

In [17]:
class Testt :
    pass
T1=Testt()
T1.Name = " Ali"
T2=Testt()
T2.Name="Ahmed"

print(T1.Name)
print(T2.Name)

Deleted Object done
 Ali
Ahmed

In [20]:
class Testt :
    def ShowN (self) :
        print(self.Name)
    pass
T1=Testt()
T1.Name = " Ali"
T2=Testt()
T2.Name="Ahmed"

print(T1.Name)
print(T2.Name)

T1.ShowN()


T2.ShowN()

 Ali
Ahmed
 Ali
Ahmed

# Secret Attributies  And Function

In [25]:








 # Secret    Not Define


class T :
    __Tname "Teto"
    
    def __printname (self) :
        print("Hello" + self.name)

        
T1=T()
print(T1.__Tname)
T1.__printname()

SyntaxError: invalid syntax (<ipython-input-25-efe408e9b92b>, line 5)

In [26]:
# Not Secret Define

class Test :
    name ="Ahmed"
    
    def printname (self):
        print("Hello"  + self.name)
        
    
T1=Test()

print(T1.name)
T1.printname()

Ahmed
HelloAhmed

# Check Not Found  Attributies   And Methods  Func

In [27]:
class T :
    pass


T1=T()
print(hasattr(T1,"name"))
print(hasattr(T1,'printname'))

False
False

# Check Found Attributies  And Methods Func

In [33]:
class T :
    Name = "Ahmed"
    __Adrs = "cairo"     # Secret Attributies
    
    def printName (self) :
        print( "Hello   "+self.Name)
        
        
    def __show() :       # Secret Method
        pass
        
T1=T()
print(hasattr(T1,"Name"))
print(hasattr(T1,"printName"))
print(hasattr(T1,"__Adrs"))
print(hasattr(T1,"show"))

True
True
False
False

# Set Attributies func

In [34]:
class Emp :
    pass

E1=Emp()

setattr (E1,"Name","Ahmed")
setattr(E1,"City","Cairo")
setattr(E1,"Salary",10000)


E2=Emp()
setattr(E2,"NIck","Turki")
setattr(E2,"Tel", +2001013900542)

print(E1.Name)
print(E1.Salary)
print(E1.City)



print(E2.NIck)
print(E2.Tel)

Ahmed
10000
Cairo
Turki
2001013900542

# get Attributies  Func

In [37]:
class Emp :
    Name = "Ahmed"
    
    
    
E1=Emp()
E1.Salary=100000

print(getattr(E1,"Name"))
print(getattr(E1,"Salary"))



E2=Emp()
E2.Nick="Turki"
E2.Tel=+2001013900542



print(getattr(E2,"Nick"))
print(getattr(E2,"Tel"))

Ahmed
100000
Turki
2001013900542

# Delet Attributies

In [41]:
class Emp :
    Name ="Empty"
    
    
E1=Emp()

print(E1.Name)
E1.Name="Ahmed"

print(E1.Name)

delattr(E1,"Name")    # any Attributies not Found at Class Give Us Error

print(E1.Name)

Empty
Ahmed
Empty

# Inner or Nested Class

In [43]:
class Comp :
    Name ="LaB"
    Gender=7
    class Hard :
        Type = "HD"
        Size =1000
    class Ram :
        Type ="4G"
        Size = 32
        
    
C1=Comp()
print(C1.Name)
print(C1.Hard.Type)
print(C1.Ram.Size)

LaB
HD
32