# List

In [5]:
# Combain any type of data type int , float , str , list ,tuple ,set , dic comlex

L=[10,20,30,50]
L.extend([10,20,30])
x=L.index(30)
y=L.append(20)
z=L.count(20)
w=L.copy()
print(L)
print(x)
print(y)
print(z)
print(w)

[10, 20, 30, 50, 10, 20, 30, 20]
2
None
3
[10, 20, 30, 50, 10, 20, 30, 20]

In [24]:
L1=[10,20,30,50]

#x=L1.clear()
y=L1.insert(2,1000)
print(y)

None

None

In [34]:

x=[10,20,30,50,60,70]
y=x.insert(3,40)
x.pop()
x.remove(30)
Z=[50,20,10,90,12,53,64]
Z.sort(reverse=True)

print(Z)

[90, 64, 53, 50, 20, 12, 10]

In [35]:
F=[10,[0,20],{20,50,8}]
print(F)

[10, [0, 20], {8, 50, 20}]

In [36]:
print(F[0])

10

In [37]:
print(F[1])

[0, 20]

In [38]:
print(type(F[2]))

<class 'set'>

# DicTionary

In [1]:
# Combain any type of data type 

D={1:"ali",2:'mido',3:"ahmed",4:{"adge":10,"name":"koko"}}
print(D)

{1: 'ali', 2: 'mido', 3: 'ahmed', 4: {'adge': 10, 'name': 'koko'}}

In [43]:
D={1:"ali",2:'mido',3:"ahmed",4:{"adge":10,"name":"koko"}}
D

{1: 'ali', 2: 'mido', 3: 'ahmed', 4: {'adge': 10, 'name': 'koko'}}

In [50]:
print(D[4]["adge"])

10

In [54]:
D[2]="Turki"
D

{1: 'ali', 2: 'Turki', 3: 'ahmed', 4: {'adge': 10, 'name': 'koko'}}

In [60]:
y=D.get(4)
print(y)

{'adge': 10, 'name': 'koko'}

In [61]:
D.items()
D

{1: 'ali', 2: 'Turki', 3: 'ahmed', 4: {'adge': 10, 'name': 'koko'}}

In [89]:
D.fromkeys("aaaa")
D

{2: 'Turki'}

In [2]:
D.pop(3)

'ahmed'

In [105]:
c
x=d.setdefault("salry",1000)
d

{1: 'ali',
 2: 'mido',
 3: 'ahmed',
 4: {'adge': 10, 'name': 'koko'},
 'salry': 1000}

In [114]:
s={100,12,42,8,65,42,8,75,54,12}
s1={20,42,22}

{8, 12, 54, 65, 75, 100}

In [115]:
D={1:"ali",2:'mido',3:"ahmed",4:{"adge":10,"name":"koko"}}
D[1]="55"
print(D)

{1: '55', 2: 'mido', 3: 'ahmed', 4: {'adge': 10, 'name': 'koko'}}

In [3]:
print(D[1])

ali

In [117]:
D={1:"ali",2:'mido',3:"ahmed",4:{"adge":10,"name":"koko"}}
D.popitem()
D

{1: 'ali', 2: 'mido', 3: 'ahmed'}

In [119]:
D={1:"ali",2:'mido',3:"ahmed",4:{"adge":10,"name":"koko"}}
D.pop(1)
D

{2: 'mido', 3: 'ahmed', 4: {'adge': 10, 'name': 'koko'}}

In [123]:
D={1:"ali",2:'mido',3:"ahmed",4:{"adge":10,"name":"koko"}}
D.get()
D

{1: 'ali', 2: 'mido', 3: 'ahmed', 4: {'adge': 10, 'name': 'koko'}}

In [125]:
D={1:"ali",2:'mido',3:"ahmed",4:{"adge":10,"name":"koko"}}
X=D.fromkeys(["A","S","D"],[10,20,30])
X

{'A': [10, 20, 30], 'S': [10, 20, 30], 'D': [10, 20, 30]}

In [126]:
D={1:"ali",2:'mido',3:"ahmed",4:{"adge":10,"name":"koko"}}
D.setdefault(5,[10,20,30])
D

{1: 'ali',
 2: 'mido',
 3: 'ahmed',
 4: {'adge': 10, 'name': 'koko'},
 5: [10, 20, 30]}

In [13]:
l1=["Adge","Name","job"]
l2=[26,"Ahmed","Dst"]
print(l1)
print(l2)
print(type(l1))

['Adge', 'Name', 'job']
[26, 'Ahmed', 'Dst']
<class 'list'>

In [14]:
D = dict(zip(l1,l2))
print(D)

{'Adge': 26, 'Name': 'Ahmed', 'job': 'Dst'}

# Set

In [7]:
# it is immutable data type  its  Unique and Sort data  ana combain int ,float , bool only 

S={10,40,"Ahmed",True}

S

{10, 40, 'Ahmed', True}

In [12]:
S1={20,110,40}
SSi=S&S1
print(SSi)
SSu = S|S1
print(SSu)
SSd = S-S1
print(SSd)

{40}
{True, 20, 40, 10, 'Ahmed', 110}
{True, 10, 'Ahmed'}

In [1]:
S1=set("Ahmed")
S2=set("ElsAyed")
print(S1) # sort element  And Unique
print(S2)
print(S1|S2) #Union  >> Or
print(S1&S2) # inter section  >> And
print(S1-S2) #diffrence >> subtracution
print(S1^S2) #XoR  >> give us all elemen not at   S1   , S2

{'d', 'h', 'e', 'm', 'A'}
{'d', 'e', 'y', 'l', 'E', 's', 'A'}
{'d', 'h', 'e', 'y', 'm', 'l', 'E', 's', 'A'}
{'e', 'd', 'A'}
{'m', 'h'}
{'h', 'y', 'm', 'l', 'E', 's'}

# Tuple

In [6]:
# Combain any type of data type

T=(10,"50",[10,20,55],{12,1,16},False,{1:55,2:22,3:554},(4,45,85),10,10)
print(T)

(10, '50', [10, 20, 55], {16, 1, 12}, False, {1: 55, 2: 22, 3: 554}, (4, 45, 85), 10, 10)

In [168]:
A=T.count(10)
A
Q=T.index(False)
Q

4