# FOr LooP

In [1]:
X="Ahmed"
for i in X :
    print(i)

A
h
m
e
d

In [2]:
X="Ahmed"
for i in X :
    print(i , end = ",")

A,h,m,e,d,

In [3]:
Y=[10,3.14,"Mido"]
for i in Y :
    print(i)

10
3.14
Mido

In [3]:
Y=[10,3.14,"Mido"]
for i in Y :
    print(i, end = ",")

10,3.14,Mido,

In [4]:
Z={60,10,8,22}
for i in Z :
    print(i)

8
10
60
22

In [8]:
D={"names":['Ali',"Ahmed","Mido"],"Adges":[23,26,25],"jop":["artist","Dst","player"]}
for i in D :
    print(i)

names
Adges
jop

In [9]:
D.items()
D

{'names': ['Ali', 'Ahmed', 'Mido'],
 'Adges': [23, 26, 25],
 'jop': ['artist', 'Dst', 'player']}

In [5]:
L=[10,3,50,23,60,100,77]
for i in L :
    if i%2==0 :
        print(i ,"Enven")
    else :
        print(i , "Odd")

10 Enven
3 Odd
50 Enven
23 Odd
60 Enven
100 Enven
77 Odd

In [13]:
for i in range(0,10,2) :
    print(i)

0
2
4
6
8

In [15]:
for i in range(10,0,-2) :
    print(i)

10
8
6
4
2

In [18]:
for i in range(0,12) :
    if i%2==0:
        print(i)

0
2
4
6
8
10

In [19]:
A="mid"
print(A)
print(2*A)

mid
midmid

# While LOOp

In [21]:
i=1  #intial value
while i<=5 : #loop and codition
    print('Mido') #print
    i+=1 #increment

Mido
Mido
Mido
Mido
Mido

In [1]:
j=5
while j>=1 :
    print("Ali")
    j-=1 # decrement

Ali
Ali
Ali
Ali
Ali

In [24]:
Z=1
while i<=5 :
    print("Ahmed",i)
    i+=1

Ahmed 0
Ahmed 1
Ahmed 2
Ahmed 3
Ahmed 4
Ahmed 5

In [25]:
C=5
while i>=1 :
    print("Turki",i)
    i-=1

Turki 6
Turki 5
Turki 4
Turki 3
Turki 2
Turki 1

In [30]:
i=1
j=1
while i <=5 :
    print("messi",i)
    while j<=5 :
        print("ronaldo",j)
        j+=1
    i+=1

messi 1
ronaldo 1
ronaldo 2
ronaldo 3
ronaldo 4
ronaldo 5
messi 2
messi 3
messi 4
messi 5

In [6]:
i=1
j=1
while i<=5 :
    print("good" ,i)
    while j<=5 :
        print('god man',i)
        break
        j+=1
    i+=1

good 1
god man 1
good 2
god man 2
good 3
god man 3
good 4
god man 4
good 5
god man 5

In [31]:
i=1

while i <=5 :
    print("messi",i)
    j=1
    while j<=5 :
        print("ronaldo",j)
        j+=1
    i+=1

messi 1
ronaldo 1
ronaldo 2
ronaldo 3
ronaldo 4
ronaldo 5
messi 2
ronaldo 1
ronaldo 2
ronaldo 3
ronaldo 4
ronaldo 5
messi 3
ronaldo 1
ronaldo 2
ronaldo 3
ronaldo 4
ronaldo 5
messi 4
ronaldo 1
ronaldo 2
ronaldo 3
ronaldo 4
ronaldo 5
messi 5
ronaldo 1
ronaldo 2
ronaldo 3
ronaldo 4
ronaldo 5

In [36]:
i=1

while i <=2 :
    print("messi",end="")
    j=1
    while j<=2 :
        print("ronaldo",end="")
        j+=1
    i+=1

messironaldoronaldomessironaldoronaldo