# Variable

In [1]:
A=10
B=-25
Name ='Ahmed'
Salary = 15000.100
X=False
Y=True
M=5j+10
print(A,B,Name,Salary,X,Y,M)

10 -25 Ahmed 15000.1 False True (10+5j)

In [2]:
print(type(A))
print(type(B))

<class 'int'>
<class 'int'>

In [3]:
print(type(Name))

<class 'str'>

In [4]:
print(type(Salary))

<class 'float'>

In [5]:
print(type(X))
print(type(Y))
print(type(M))

<class 'bool'>
<class 'bool'>
<class 'complex'>

#  operations in python

In [6]:
M1= X=Y=Z=10
print(M1)
print(X,Y,Z)
print(X+Z)
print(X+Y+Z)

#Arithmetic Operator

X1,X2,X3 = 10,20,30
print(X1,X2,X3)
print(X1+X2)
print(X1+X2+X3)
print(X1/X2)
print(X1*X3)
print(X1//X2)
print(X3-X1+X2+X2)
print(X1%X3)

#Assinment operator X=num ,,,,X(+,-,*,/,%) = num ......give num(+,-,*,/,%)

X=50
X+=10
print(X)
X-=10
print(X)
X*=10
print(X)
X/=10
print(X)
X//5
print(X)

#compresion operator (< ,> ,<= ,>=, !=) using for Comparing

D=10
F=30
G=10
H=50

C1=D>F
C2=G<F
C3=F>D
C4=D>=H
C5=H<=F
C6=H!=D
print(C1,C2,C3,C4,C5,C6)


#logic operator ( and , or , not)
L1 = D<F and F>G
L2 = H>F or D>F

print(L1,L2)

#Bitwise operator (| , ~ , & , << ,>>)

# (1 complement >>>change 0 > > 1   and 1 >>  0  ,,,, ,, 2 comlement >>> do 1 comlement and Add 1 ( ~ ) )

B1=7
B2=2
W1 = ~ B1
W2 = ~ B2

# 1 complement  0 0 1 1 0 1 1 0 0 1 >>>  1 1 0 0 1 0 0 1 1 0
#2 complement do ( 1 com )   and  (Add)  + 1      0 0 1 1 0 1 0 1 0 1  >> 1 1 0 0 1 0 1 0 1 0 >> +1 >> 1 1 0 0 1 0 1 0 1 1

#(And (&))
W3 = B1 & B2

# must two compenents 1 >>>>   (0 1 0 1 1 0 0 1 0 1) ,,( 1 1 0 1 0 0 1 0 1 1 )  >>> (0 1 0 1 0 0 0 0 0 1) 

#(OR(|))
W4 = B1|B2

# should one of two compenents 1 >> (0 1 0 0 1 1 1 0 0 1) ,,, (1 1 0 1 0 0 0 1 0 1) >>> (1 1 0 1 1 1 1 1 0 1)

#(XOR(^))

W5 = B1 ^ B2

# if two compenents 1 or 0 >> 0  else two compnents 1 0 or 0 1 >> 1  

#(left shift(<<)) it is increase two element  (0 1 0 0 1 0 0) >> (0 1 0 0 1 0 0 0 0 )  show (B2 = 2 )


W6 = B1 << B2 

# (right shift (<<) it loss element (0 1 0 0 1 0 0)  << (0 1 0 0 1) show (B2 =2)

W7 = B1 << B2

print(W1 ,W2 , W3 , W4 , W5  , W6 , W7)









#indentity operator (is , is not)

I=50
I1 = I is 50
I2 = I is not 50
print(I2 , I1)


#Membership operator (in , not in)

M=['Ahmed' , 'Ali', 100 , False ,100.555]

M1='Ahmed' in M
M2=100.555 in M
M3=100 not in M
M4='Ali' not in M
print(M1 , M2 , M3 , M4 )

10
10 10 10
20
30
10 20 30
30
60
0.5
300
0
60
10
60
50
500
50.0
50.0
False True True False False True
True True
-8 -3 2 7 5 28 28
False True
True True False False

# Key_Words dnot use avariables its func
# KW=If , Else , Elif , While , For , Not , Is , Or , On , Pass , Lambda , Break , Countine , Global , Nonlocal , Expect , Return , Finally , Import , Def , Del , Class

# variables

In [29]:
new_list = 20
new_list

20

In [19]:
#diff variables
A= 100
a=110
print(A)
print(a)

100
110

In [20]:
# num variable
_55 ='Ali'
print(_55)

Ali

In [21]:
#String
Name1 = "Ahmed"
Name2 = 'Amir'
Name3 = ''' Ahmed
Elsayed
Ebrahim
Mahmoud
Elsayed
Azoz'''
print(Name1 , Name2 , Name3)

Ahmed Amir  Ahmed
Elsayed
Ebrahim
Mahmoud
Elsayed
Azoz

In [ ]:
#Tybes of data  1_(immutables [Strings  "Amr"  , Numbers  100 ,  Tubels (  :   ) ]    )    ,,,2_(mutable [lists [10.20.30] ,, Dictionarys {name:'Ali'} ,,, sets ])

In [50]:
var = 'Halo World'
print(type(var))
print(var[0])
print(var[6])
print(var[-1])
#Extract halo from Halo world
print(var[0:4])
print(var[:11])

<class 'str'>
H
o
d
Halo
Halo World

In [63]:
#find index
V="HaLLo WorLd"
V1=V.find("W")
V2=V.find("LL")
print(V1 , V2)

#replace Values
V3=V.replace("LL" , 'll')
V4=V.replace("r" , "R")
V5=V.replace("WorLd" ,"Ahmed")
print(V3,"     " , V4 ,"    "    , V5)


#Split string   take space

V6= V.split(  ',,'  )
print(V6)

#Count of string number of repeat of any symbol
V7=V.count("L")
print(V7)

#Upper String

V8=V.upper()
print(V8)

#Max and Min
V9 = max(V)
V10 = min(V)
print(V9)
print(V10)

6 2
Hallo WorLd       HaLLo WoRLd      HaLLo Ahmed
['HaLLo WorLd']
3
HALLO WORLD
r

In [4]:
#Tuples concatenation

T1=('A','B','C','D')
T2=('Q','W','E')
T1+=T2
print(T1)

#Tuples Replation
T3=T2*3
print(T3)

#Tuples index

print(T1[0])
print(T2[2])
print(T3[7])
print(T3[0:5])
print(T3[-1])
print(T3[:8])
print(T3[0:])

('A', 'B', 'C', 'D', 'Q', 'W', 'E')
('Q', 'W', 'E', 'Q', 'W', 'E', 'Q', 'W', 'E')
A
E
W
('Q', 'W', 'E', 'Q', 'W')
E
('Q', 'W', 'E', 'Q', 'W', 'E', 'Q', 'W')
('Q', 'W', 'E', 'Q', 'W', 'E', 'Q', 'W', 'E')

In [100]:
#Lists

T=[10 , 20.55 , "Ahmed" , False , True ]
print(T)
print(type(T[0]))
print(type(T[1]))
print(type(T[2]))
print(type(T[3]))

#List concatination
T+="Ali"
print(T)
T2=['ss' , False , 20.5]
T+=T2
print(T)

#remove items in list

T.remove("Ahmed")
print(T)

#repetation lists
T1=T*2
print(T1)

#slicing in list

print(T[0:5])
print(T[0:])
print(T[:7])
print(T[-1])

# To add any var to list
T.append("Akram")
print(T)

T.append(T2)
print(T)

#Insert any Var in list (index , only num)

T.insert(2 , 2000)
print(T)
print(len(T))

[10, 20.55, 'Ahmed', False, True]
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
[10, 20.55, 'Ahmed', False, True, 'A', 'l', 'i']
[10, 20.55, 'Ahmed', False, True, 'A', 'l', 'i', 'ss', False, 20.5]
[10, 20.55, False, True, 'A', 'l', 'i', 'ss', False, 20.5]
[10, 20.55, False, True, 'A', 'l', 'i', 'ss', False, 20.5, 10, 20.55, False, True, 'A', 'l', 'i', 'ss', False, 20.5]
[10, 20.55, False, True, 'A']
[10, 20.55, False, True, 'A', 'l', 'i', 'ss', False, 20.5]
[10, 20.55, False, True, 'A', 'l', 'i']
20.5
[10, 20.55, False, True, 'A', 'l', 'i', 'ss', False, 20.5, 'Akram']
[10, 20.55, False, True, 'A', 'l', 'i', 'ss', False, 20.5, 'Akram', ['ss', False, 20.5]]
[10, 20.55, 2000, False, True, 'A', 'l', 'i', 'ss', False, 20.5, 'Akram', ['ss', False, 20.5]]
13

In [103]:
#Dictionarys  {keys : values}

D = {1 : 100 , 2 : "Mazen" , 3 : True }
print(D)
print(type(D))
print(D[1])
print(D[2])
print(D[3])
print(len(D))

{1: 100, 2: 'Mazen', 3: True}
<class 'dict'>
100
Mazen
True
3

In [106]:
#Sets {}
S1={1 , "A" , 20 , "C"}
S2={10 , 30 , "A" ,"H" , "C"}
print(S1)
print(S2
     )
#union sets

S=S1|S2
print(S)

#intersection

S3=S1&S2
print(S3)

#diffrence

S4=S1-S2
print(S4)

{1, 'C', 'A', 20}
{10, 'C', 'A', 30, 'H'}
{1, 10, 'C', 'H', 'A', 20, 30}
{'C', 'A'}
{1, 20}

In [1]:
import math
x=math.sqrt(50)
print(x)
y=math.floor(2.9)
z=math.ceil(2.2)
w=math.pow(3,2)
c=math.pi
d=math.e
print(y)
print(z)
print(w)
print(c)
print(d)

7.0710678118654755
2
3
9.0
3.141592653589793
2.718281828459045

# User input

# 1 _ Deal as Str

In [4]:
x=input ("Enter the first num :")
y=input("Enter the scd num :")
z=x+y
print(z)

Enter the first num :10
Enter the scd num :20
1020

In [5]:
x=input ("Enter the first num :")
y=input("Enter the scd num :")
z=x+y
print(z)

Enter the first num : 10
Enter the scd num : 20
 10 20

In [6]:
x=input ("Enter the first num :")
y=input("Enter the scd num :")
z=x+y
print(z)

Enter the first num :10
Enter the scd num :10
1010

In [7]:
x=input ("Enter the first num :")
y=input("Enter the scd num :")
z=x+y
print(z)

Enter the first num :10
Enter the scd num :10
1010

# 2 _ Deal as num

In [8]:
x=input ("Enter the first num :")
a=int(x)
y=input("Enter the scd num :")
b=int(y)
z=x+y
w=a+b
print(z)
print(w)

Enter the first num :20
Enter the scd num :80
2080
100

In [9]:
x=int(input ("Enter the first num :"))
y=int(input("Enter the scd num :"))
z=x+y
print(z)

Enter the first num :20
Enter the scd num :30
50

# To get Special range

In [10]:
x=input ("Enter the char :")

print(x)

Enter the char :ahmed
ahmed

In [11]:
x=input ("Enter the char :")

print(x[0])

Enter the char :mido
m

In [13]:
x=input ("Enter the char :")[0]

print(x)

Enter the char :mido
m

# To do any arthimatic operation on input

In [14]:
x=eval(input("enter the epri:"))
print(x)

enter the epri:10+10+10-10
20

In [15]:
x=eval(input("enter the epri:"))
print(x)

enter the epri:10+20*2
50

In [2]:
x=5
y=10
if x>y:
    print("x is bigger")
elif x<y :
    print("y is bigger")
elif x==y:
    print("x=y")
else:
    print("!")

y is bigger