In [1]:
import sqlite3 as S
con = S.connect("Tonii_Store.db")
cur = con.cursor()

In [6]:
d1 = cur.execute("select * from Customers where Cus_Name = 'Ahmed'  ").fetchall()
d2 = cur.execute("select * from Customers where Cus_Id >= 3 ")
d3 =cur.execute("select * from Customers where Adge > 25 ")
d4 = cur.execute("select * from Customers where City = 'Berlin'")

In [7]:
for i1 , i2 ,i3 , i4,i5 in d1 :
    print(f"The Id :: {i1} , The Name :: {i2} , The City :: {i3} , The Adge :: {i4} , The Gender :: {i5}")

The Id :: 7 , The Name :: Ahmed , The City :: HumBurg , The Adge :: 32 , The Gender :: Male

In [10]:
for i in d1 :
    print(f"the row :: {i}\n\n========\nthe_id :: {i[0]}")

the row :: (7, 'Ahmed', 'HumBurg', 32, 'Male')

========
the_id :: 7

In [56]:
def get_data (sql , data) :
    global con
    global cur
    
    cur.execute(sql , data)
    
    rows = cur.fetchall()
    for Cus_Id , Cus_Name , City , Adge , Gender in rows :
        print(f" the ID :: {Cus_Id} , The Name :: {Cus_Name} , The City :: {City} , The Adge :: {Adge} ,The Gender :: {Gender} ")

In [57]:
get_data("select * from Customers where Cus_Name =? " , ["Ahmed"])

 the ID :: 3 , The Name :: Ahmed , The City :: Egypt , The Adge :: 27 ,The Gender :: Male

In [58]:
get_data("select * from Customers where Cus_Id >=? " , [3])

 the ID :: 3 , The Name :: Ahmed , The City :: Egypt , The Adge :: 27 ,The Gender :: Male
 the ID :: 4 , The Name :: Noura , The City :: DuBai , The Adge :: 23 ,The Gender :: Female
 the ID :: 5 , The Name :: Alaa , The City :: London , The Adge :: 20 ,The Gender :: Female
 the ID :: 6 , The Name :: Ghada , The City :: Quait , The Adge :: 26 ,The Gender :: Female

In [59]:
get_data("select * from Customers where Adge >? " , [25])

 the ID :: 1 , The Name :: Toni , The City :: Berlin , The Adge :: 30 ,The Gender :: Male
 the ID :: 2 , The Name :: Marco , The City :: USA , The Adge :: 28 ,The Gender :: Male
 the ID :: 3 , The Name :: Ahmed , The City :: Egypt , The Adge :: 27 ,The Gender :: Male
 the ID :: 6 , The Name :: Ghada , The City :: Quait , The Adge :: 26 ,The Gender :: Female

In [60]:
get_data("select * from Customers where City =? " , ["London"])

 the ID :: 5 , The Name :: Alaa , The City :: London , The Adge :: 20 ,The Gender :: Female

In [65]:
get_data("select * from Customers " , [])

 the ID :: 1 , The Name :: Toni , The City :: Berlin , The Adge :: 30 ,The Gender :: Male
 the ID :: 2 , The Name :: Marco , The City :: USA , The Adge :: 28 ,The Gender :: Male
 the ID :: 3 , The Name :: Ahmed , The City :: Egypt , The Adge :: 27 ,The Gender :: Male
 the ID :: 4 , The Name :: Noura , The City :: DuBai , The Adge :: 23 ,The Gender :: Female
 the ID :: 5 , The Name :: Alaa , The City :: London , The Adge :: 20 ,The Gender :: Female
 the ID :: 6 , The Name :: Ghada , The City :: Quait , The Adge :: 26 ,The Gender :: Female

In [66]:
get_data("select * from Customers where City like ? " , ["%o%"])

 the ID :: 5 , The Name :: Alaa , The City :: London , The Adge :: 20 ,The Gender :: Female

In [67]:
get_data("select * from Customers where City like ? " , ["%a%"])

 the ID :: 2 , The Name :: Marco , The City :: USA , The Adge :: 28 ,The Gender :: Male
 the ID :: 4 , The Name :: Noura , The City :: DuBai , The Adge :: 23 ,The Gender :: Female
 the ID :: 6 , The Name :: Ghada , The City :: Quait , The Adge :: 26 ,The Gender :: Female

In [68]:
def get_data2 (schema ,condition ) :
    global con 
    global cur
    
    cur.execute(schema , condition)
    rows = cur.fetchall()
    for Order_Id , Order_Time , Cus_Id , Shipper_Id in rows :
        print(f"The Id :: {Order_Id} , The Time :: {Order_Time} , The Cus-Id :: {Cus_Id} , The Shipper_Id :: {Shipper_Id}")

In [69]:
get_data2("select * from Orders" , [])

The Id :: 111 , The Time :: Yestarday , The Cus-Id :: 1 , The Shipper_Id :: 10
The Id :: 112 , The Time :: Sontag , The Cus-Id :: 2 , The Shipper_Id :: 11
The Id :: 113 , The Time :: MiTTWochen , The Cus-Id :: 3 , The Shipper_Id :: 12
The Id :: 114 , The Time :: Sumstag , The Cus-Id :: 1 , The Shipper_Id :: 10
The Id :: 115 , The Time :: Freitag , The Cus-Id :: 2 , The Shipper_Id :: 11
The Id :: 116 , The Time :: Dienstag , The Cus-Id :: 2 , The Shipper_Id :: 11

In [70]:
get_data2("select * from Orders where Ord_Time =?" , ["Sumstag"])

The Id :: 114 , The Time :: Sumstag , The Cus-Id :: 1 , The Shipper_Id :: 10

In [74]:
get_data2("select * from Orders where Ord_Time like ?" , ["S%"])

The Id :: 112 , The Time :: Sontag , The Cus-Id :: 2 , The Shipper_Id :: 11
The Id :: 114 , The Time :: Sumstag , The Cus-Id :: 1 , The Shipper_Id :: 10

In [11]:
cur.execute("select Ord_Time from Orders where Cus_Id in(select Cus_Id from Customers where Cus_Name =?)" , ['Marco'])
r = cur.fetchall()
print(r)

[('Sontag',), ('Freitag',), ('Dienstag',)]

In [18]:
d = cur.execute("select Ord_Time from Orders where Cus_Id in(select Cus_Id from Customers where Cus_Name =?)" , ['Marco']).fetchall()
for i in d :
    print(i[])

SyntaxError: invalid syntax (<ipython-input-18-db8a7168bb1b>, line 3)

In [76]:
get_data("select * from Customers  order by Cus_Id Asc" , [])

 the ID :: 1 , The Name :: Toni , The City :: Berlin , The Adge :: 30 ,The Gender :: Male
 the ID :: 2 , The Name :: Marco , The City :: USA , The Adge :: 28 ,The Gender :: Male
 the ID :: 3 , The Name :: Ahmed , The City :: Egypt , The Adge :: 27 ,The Gender :: Male
 the ID :: 4 , The Name :: Noura , The City :: DuBai , The Adge :: 23 ,The Gender :: Female
 the ID :: 5 , The Name :: Alaa , The City :: London , The Adge :: 20 ,The Gender :: Female
 the ID :: 6 , The Name :: Ghada , The City :: Quait , The Adge :: 26 ,The Gender :: Female

In [77]:
get_data("select * from Customers  order by Cus_Id DESC" , [])

 the ID :: 6 , The Name :: Ghada , The City :: Quait , The Adge :: 26 ,The Gender :: Female
 the ID :: 5 , The Name :: Alaa , The City :: London , The Adge :: 20 ,The Gender :: Female
 the ID :: 4 , The Name :: Noura , The City :: DuBai , The Adge :: 23 ,The Gender :: Female
 the ID :: 3 , The Name :: Ahmed , The City :: Egypt , The Adge :: 27 ,The Gender :: Male
 the ID :: 2 , The Name :: Marco , The City :: USA , The Adge :: 28 ,The Gender :: Male
 the ID :: 1 , The Name :: Toni , The City :: Berlin , The Adge :: 30 ,The Gender :: Male

In [79]:
get_data("select * from Customers  order by Cus_Id DESC limit 3" , [])

 the ID :: 6 , The Name :: Ghada , The City :: Quait , The Adge :: 26 ,The Gender :: Female
 the ID :: 5 , The Name :: Alaa , The City :: London , The Adge :: 20 ,The Gender :: Female
 the ID :: 4 , The Name :: Noura , The City :: DuBai , The Adge :: 23 ,The Gender :: Female

In [81]:
get_data("select * from Customers  order by Cus_Id DESC limit 3  offset 2" , [])

 the ID :: 4 , The Name :: Noura , The City :: DuBai , The Adge :: 23 ,The Gender :: Female
 the ID :: 3 , The Name :: Ahmed , The City :: Egypt , The Adge :: 27 ,The Gender :: Male
 the ID :: 2 , The Name :: Marco , The City :: USA , The Adge :: 28 ,The Gender :: Male

In [82]:
get_data("select * from Customers where Adge >? and Gender like ?  order by Cus_Id DESC" , [25 , "M%"])

 the ID :: 3 , The Name :: Ahmed , The City :: Egypt , The Adge :: 27 ,The Gender :: Male
 the ID :: 2 , The Name :: Marco , The City :: USA , The Adge :: 28 ,The Gender :: Male
 the ID :: 1 , The Name :: Toni , The City :: Berlin , The Adge :: 30 ,The Gender :: Male

In [23]:
cur.execute("select City , count(Gender) from Customers group by City")
r = cur.fetchall()
print(r)
for i in r :
    print(f"City ::{i[0]}\nthe count of gender ::{i[1]}")

[('Berlin', 1), ('DuBai', 1), ('Egypt', 1), ('HumBurg', 1), ('London', 1), ('Quait', 1), ('USA', 1)]
City ::Berlin
the count of gender ::1
City ::DuBai
the count of gender ::1
City ::Egypt
the count of gender ::1
City ::HumBurg
the count of gender ::1
City ::London
the count of gender ::1
City ::Quait
the count of gender ::1
City ::USA
the count of gender ::1

In [94]:
cur.execute("select Cus_Id , count(Shipper_Id) As C_ID from Orders group by Cus_Id")
r = cur.fetchall()
print(r)

[(1, 2), (2, 3), (3, 1)]

In [99]:
cur.execute("select Cus_Id , count(Shipper_Id) As C_ID from Orders group by Cus_Id having C_ID > 1")
r = cur.fetchall()
print(r)

[(1, 2), (2, 3)]

In [100]:
cur.execute("select Cus_Id , count(Shipper_Id) As C_ID from Orders group by Cus_Id having C_ID >? " ,[1])
r = cur.fetchall()
print(r)

[(1, 2), (2, 3)]

In [96]:
cur.execute("select Customers.Cus_Name ,Orders.Ord_Time from Customers inner join Orders where Customers.Cus_Id = Orders.Cus_Id   ")
r = cur.fetchall()
print(r)

[('Toni', 'Sumstag'), ('Toni', 'Yestarday'), ('Marco', 'Dienstag'), ('Marco', 'Freitag'), ('Marco', 'Sontag'), ('Ahmed', 'MiTTWochen')]

In [97]:
cur.execute("select Customers.Cus_Name ,Orders.Ord_Time from Customers left join Orders where Customers.Cus_Id = Orders.Cus_Id   ")
r = cur.fetchall()
print(r)

[('Toni', 'Sumstag'), ('Toni', 'Yestarday'), ('Marco', 'Dienstag'), ('Marco', 'Freitag'), ('Marco', 'Sontag'), ('Ahmed', 'MiTTWochen')]

In [102]:
cur.execute("update Customers set Cus_Name =? where Cus_Id =?" ,["Turkey" , 3])
con.commit()

In [103]:
cur.execute("insert into Customers (Cus_Name , Cus_Id , City , Adge , Gender) values(?,?,?,?,?)" , ["Ahmed" , 7 , "HumBurg" , 32 , "Male"])
con.commit()