In [31]:
import sqlite3
con = sqlite3.connect("Data_Base1.db")
cur = con.cursor()
cur.execute("create table info( Names text , Adge int , Gender text)")
cur.execute("insert into info (Names , Adge , Gender) values ('Ahmed' , 27 , 'Male')")
cur.execute("insert into info (Names , Adge , Gender) values ('Baher' , 25 , 'Male') , ('Eslam' , 30 , 'Male')")
cur.execute("""insert into info (Names , Adge , Gender) 
           #values ('Shimaa' , 20 , 'Female') ,
                  #('Ali' , 27 , 'Male') ,
                  #('Adel' , 28 , 'Male')""")
infos = cur.execute("select * from info")
print(infos)
print("==========")
for col in infos :
    print(col)
    print("=====")
    print("=====")
    print("Names : " , col[0])
    print("=================")
    print("Adge : " , col[1])
    print("=================")
    print("Gender : " , col[2])
    print("========")
    print("========")
    
    
#con.commit()
#con.close()
print("=========")
print("Hello Ahmed")

<sqlite3.Cursor object at 0x0000027FC0D9C7A0>
==========
('Baher', 25, 'Male')
=====
=====
Names :  Baher
=================
Adge :  25
=================
Gender :  Male
========
========
('Eslam', 30, 'Male')
=====
=====
Names :  Eslam
=================
Adge :  30
=================
Gender :  Male
========
========
('Noura', 24, 'Female')
=====
=====
Names :  Noura
=================
Adge :  24
=================
Gender :  Female
========
========
('Alla', 22, 'Female')
=====
=====
Names :  Alla
=================
Adge :  22
=================
Gender :  Female
========
========
('Ghada', 25, 'Female')
=====
=====
Names :  Ghada
=================
Adge :  25
=================
Gender :  Female
========
========
('Shimaa', 20, 'Female')
=====
=====
Names :  Shimaa
=================
Adge :  20
=================
Gender :  Female
========
========
('Ali', 27, 'Male')
=====
=====
Names :  Ali
=================
Adge :  27
=================
Gender :  Male
========
========
('Adel', 28, 'Male')
=====
=====
Names :  Adel
=================
Adge :  28
=================
Gender :  Male
========
========
=========
Hello Ahmed

In [44]:
import sqlite3
con = sqlite3.connect("Data_Base1.db")
cur = con.cursor()
infos = cur.execute("select * from info")





for col1 in infos :
    print("Names : " , col1[0])

Names :  Baher
Names :  Eslam
Names :  Noura
Names :  Alla
Names :  Ghada
Names :  Shimaa
Names :  Ali
Names :  Adel

In [47]:
import sqlite3
con = sqlite3.connect("Data_Base1.db")
cur = con.cursor()
infos = cur.execute("select * from info")


for col2 in infos :
    print("Adge : " , col2[1])

Adges :  25
Adges :  30
Adges :  24
Adges :  22
Adges :  25
Adges :  20
Adges :  27
Adges :  28

In [50]:
import sqlite3
con = sqlite3.connect("Data_Base1.db")
cur = con.cursor()
infos = cur.execute("select * from info")


for col3 in infos :
    print("Gender : " , col3[2])

Gender :  Male
Gender :  Male
Gender :  Female
Gender :  Female
Gender :  Female
Gender :  Female
Gender :  Male
Gender :  Male