In [2]:
import sqlite3 as S
con = S.connect("App_Store.db")
E1 = con.execute("create table customers(cus_id int ,cus_name text , cus_salary real )")
E2 = con.execute("create table products(pro_id int , pro_date text , cus_id int)")
con.commit()

In [3]:
con.execute("""insert into customers(cus_id , cus_name , cus_salary)
            values( 1 , "Ahmed" , 3500.20) , 
                  ( 2 , "Eslam" , 2500.40) , 
                  ( 3 , "Alaa"  , 5500.50)""")
con.execute("""insert into products(pro_id , pro_date , cus_id) 
            values( 010 , "2020" , 1 ) , 
                  ( 011 , "2021" , 2 ) ,
                  ( 012 , "2019" , 3 )""")
con.commit()

In [9]:
S1 = con.execute("select * from customers").fetchall()
for s1 in S1 :
    print(s1)
    print("======")
    print(f"The Cus_ID :: {s1[0]}\nThe Cus_Name :: {s1[1]}\nThe Cus_salary :: {s1[2]}\n-------")

(1, 'Ahmed', 3500.2)
======
The Cus_ID :: 1
The Cus_Name :: Ahmed
The Cus_salary :: 3500.2
-------
(2, 'Eslam', 2500.4)
======
The Cus_ID :: 2
The Cus_Name :: Eslam
The Cus_salary :: 2500.4
-------
(3, 'Alaa', 5500.5)
======
The Cus_ID :: 3
The Cus_Name :: Alaa
The Cus_salary :: 5500.5
-------

In [12]:
import csv
with open("s1.csv" , "w") as f :
    writer = csv.DictWriter(f , fieldnames=["ID" , "Name" , "Salary"])
    writer.writeheader()
    con = S.connect("App_Store.db")
    S1 = con.execute("select * from customers").fetchall()
    for s1 in S1 :
        Cus_Id = s1[0]
        Cus_Name = s1[1]
        Cus_Salary = s1[2]
        print(f"The Cus_ID :: {Cus_Id}\nThe Cus_Name :: {Cus_Name}\nThe Cus_salary :: {Cus_Salary}\n-------")
        writer.writerow({"ID":Cus_Id ,"Name" :Cus_Name , "Salary":Cus_Salary })

The Cus_ID :: 1
The Cus_Name :: Ahmed
The Cus_salary :: 3500.2
-------
The Cus_ID :: 2
The Cus_Name :: Eslam
The Cus_salary :: 2500.4
-------
The Cus_ID :: 3
The Cus_Name :: Alaa
The Cus_salary :: 5500.5
-------

In [14]:
import pandas as pd
select = pd.read_csv("s1.csv")

In [15]:
select

   ID   Name  Salary
0   1  Ahmed  3500.2
1   2  Eslam  2500.4
2   3   Alaa  5500.5

In [30]:
import sqlite3 as S
con = S.connect("App_Store.db")
S2 = con.execute("select sum(cus_salary) from customers where cus_id > ?" , [1]).fetchall()
print(S2 , "\n---")
for s in S2 :
    print(s[0])

[(8000.9,)]
---
8000.9

In [31]:
import sqlite3 as S
con = S.connect("App_Store.db")
S2 = con.execute("select cus_salary  from customers where cus_id >?  order by cus_id desc" , [1]).fetchall()
print(S2 , "\n---")
for s in S2 :
    print(s[0])

[(5500.5,), (2500.4,)]
---
5500.5
2500.4

In [32]:
import sqlite3 as S
con = S.connect("App_Store.db")
S2 = con.execute("select pro_date  from products where cus_id in(select cus_id from customers where cus_name = ? )" , ["Eslam"]).fetchall()
print(S2 , "\n---")
for s in S2 :
    print(s[0])

[('2021',)]
---
2021

In [37]:
import sqlite3 as S
con = S.connect("App_Store.db")
S2 = con.execute("select pro_date ,  count(cus_id) AS C_id  from products group by pro_date " ).fetchall()
print(S2 , "\n---")
for s in S2 :
    print(f"Date :: {s[0]}\nC_ID :: {s[1]}\n---- ")

[('2019', 1), ('2020', 1), ('2021', 1)]
---
Date :: 2019
C_ID :: 1
----
Date :: 2020
C_ID :: 1
----
Date :: 2021
C_ID :: 1
----