# diff Ways To create DataFrame

# 1 - Dictionary data

In [2]:
import pandas as pd 

data = {"Name" : ["Ahmed" , "HamZa" , "Mariam"] ,
        "Adge" : [30 , 20 , 25] ,
        "Position" : ["CS" , "IS" , "IT"]}

D_F = pd.DataFrame(data)

D_F

     Name  Adge Position
0   Ahmed    30       CS
1   HamZa    20       IS
2  Mariam    25       IT

# 2 _ List of dictinary data

In [6]:
import pandas as pd 

data = [{"Name" : "Ahmed" , "Agge" : 30 ,"Position" : "CS"} ,
        {"Name" : "HaZa" , "Agge" : 20 , "Position" : "IS"} ,
        {"Name" : "Mariam" , "Agge" : 25 , "Position" : "IT"}]

df = pd.DataFrame(data)
df

     Name  Agge Position
0   Ahmed    30       CS
1    HaZa    20       IS
2  Mariam    25       IT

# 3 _ List of Tuples

In [12]:
import pandas as pd

data = [("Ahmed" , 30 , "CS") ,
        ("HamZa" , 20 , "IS") ,
        ("Mariam" , 25 ,"IT")]

dff = pd.DataFrame(data , columns=["Name","Agge","Position"])
dff

     Name  Agge Position
0   Ahmed    30       CS
1   HamZa    20       IS
2  Mariam    25       IT

 # To Read files Of data

# 1 _ Read CsV Files

In [9]:
import pandas as pd 

path = "E:\\Data Rows\\Code B\\DF2.txt"

D_F = pd.read_csv(path)

D_F

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# 2 _Read Excel Files

In [11]:
import pandas as pd 

path = "E:\\Data Rows\\Code B\\DF2.xlsx"

D_F = pd.read_excel(path)
D_F

FileNotFoundError: [Errno 2] No such file or directory: 'E:\\Data Rows\\Code B\\DF2.xlsx'