# create DataFrame by dictionary

In [42]:
import pandas as pd

data = {"day" : ["1/1/2020" , "1/2/2020" , "1/3/2020" , "1/4/2020" , "1/5/2020"],
        "Tempreture" : [45 , 35 , 30 , 25 ,20] ,
        "Event" : ["Sunny" , "Hot" , "Fun" ,"Good" ,"Snow"]}
D_F = pd.DataFrame(data)
print(D_F)

print("===================================")
D_F

        day  Tempreture  Event
0  1/1/2020          45  Sunny
1  1/2/2020          35    Hot
2  1/3/2020          30    Fun
3  1/4/2020          25   Good
4  1/5/2020          20   Snow
===================================

        day  Tempreture  Event
0  1/1/2020          45  Sunny
1  1/2/2020          35    Hot
2  1/3/2020          30    Fun
3  1/4/2020          25   Good
4  1/5/2020          20   Snow

In [19]:
print(D_F.shape)

(5, 3)

In [20]:
print(type(D_F["day"]))

print("========================")

print(type(D_F["Tempreture"]))

<class 'pandas.core.series.Series'>
========================
<class 'pandas.core.series.Series'>

# To print Coulmns

In [21]:
print(D_F.columns)

Index(['day', 'Tempreture', 'Event'], dtype='object')

# To print Special Column

In [22]:
print(D_F["day"])
print("======================")
print(D_F["Event"])
print("======================")
print(D_F["Tempreture"])

print("======================")
print("======================")
print("======================")

# Or use

print(D_F.day)
print("======================")

print(D_F.Event)
print("======================")

print(D_F.Tempreture)

0    1/1/2020
1    1/2/2020
2    1/3/2020
3    1/4/2020
4    1/5/2020
Name: day, dtype: object
======================
0    Sunny
1      Hot
2      Fun
3     Good
4     Snow
Name: Event, dtype: object
======================
0    45
1    35
2    30
3    25
4    20
Name: Tempreture, dtype: int64
======================
======================
======================
0    1/1/2020
1    1/2/2020
2    1/3/2020
3    1/4/2020
4    1/5/2020
Name: day, dtype: object
======================
0    Sunny
1      Hot
2      Fun
3     Good
4     Snow
Name: Event, dtype: object
======================
0    45
1    35
2    30
3    25
4    20
Name: Tempreture, dtype: int64

# To print heads

In [23]:
print(D_F.head())

print("==============================")

print(D_F.head(3))

        day  Tempreture  Event
0  1/1/2020          45  Sunny
1  1/2/2020          35    Hot
2  1/3/2020          30    Fun
3  1/4/2020          25   Good
4  1/5/2020          20   Snow
==============================
        day  Tempreture  Event
0  1/1/2020          45  Sunny
1  1/2/2020          35    Hot
2  1/3/2020          30    Fun

 # To print Tails

In [25]:
print(D_F.tail())

print("===================")
print(D_F.tail(3))

        day  Tempreture  Event
0  1/1/2020          45  Sunny
1  1/2/2020          35    Hot
2  1/3/2020          30    Fun
3  1/4/2020          25   Good
4  1/5/2020          20   Snow
===================
        day  Tempreture Event
2  1/3/2020          30   Fun
3  1/4/2020          25  Good
4  1/5/2020          20  Snow

# To print columns in condition

In [37]:
print(D_F[D_F["Tempreture"]==45] )


print("===============================")

print(D_F["day"][D_F["Tempreture"]>=30])
print("================")
print(D_F["Tempreture"].max())

print("========================")

print(D_F["Tempreture"].min())

        day  Tempreture  Event
0  1/1/2020          45  Sunny
===============================
0    1/1/2020
1    1/2/2020
2    1/3/2020
Name: day, dtype: object
================
45
========================
20

# To print All details of data

In [38]:
print(D_F.describe())

       Tempreture
count    5.000000
mean    31.000000
std      9.617692
min     20.000000
25%     25.000000
50%     30.000000
75%     35.000000
max     45.000000

# To but any column index

In [43]:
D_F.set_index("day" , inplace=True)

D_F

          Tempreture  Event
day
1/1/2020          45  Sunny
1/2/2020          35    Hot
1/3/2020          30    Fun
1/4/2020          25   Good
1/5/2020          20   Snow

# To get data at location

In [44]:
D_F.loc["1/4/2020"]

Tempreture      25
Event         Good
Name: 1/4/2020, dtype: object

In [45]:
D_F.index

Index(['1/1/2020', '1/2/2020', '1/3/2020', '1/4/2020', '1/5/2020'], dtype='object', name='day')

# To return normal index

In [47]:
D_F.reset_index(inplace=True)
D_F

   index       day  Tempreture  Event
0      0  1/1/2020          45  Sunny
1      1  1/2/2020          35    Hot
2      2  1/3/2020          30    Fun
3      3  1/4/2020          25   Good
4      4  1/5/2020          20   Snow