# Cross Table Analysis

# 1 _ Cross Table   using Single Index , Column ,Row

In [2]:
import pandas as pd

path = "E:\\Data Rows\\Code B\\Cross_Table_data.txt"

DF = pd.read_csv(path)
DF

            Name   Nationality             Sex         Age  Handedness
0       Kathy             USA           Female        23         Right
1      Linda             USA           Female          18        Right
2      Peter             USA              Male        19         Right
3      John               USA             Male      22            Left
4        Fatima     Bangadesh           Female        31          Left
5         Kadir     Bangadesh             Male         25         Left
6     Dhaval             India      Male   35         Left         NaN
7      Sudhir           India      Male   31          Left         NaN
8       Parvir         India              Male     37            Right
9      Yan               China          Female        52         Right
10      Juan            China           Female        58          Left
11       Liang         China              Male       43           Left

In [13]:
S_C_T = pd.crosstab(index =DF.Nationality , columns=DF.Handedness )

S_C_T

AttributeError: 'DataFrame' object has no attribute 'Nationality'

In [14]:
import pandas as pd

data1 = {"City" : ["Cairo" , "Alex" , "Benha"] ,
       "Tempreture" : [40 , 25 , 30] , 
       "Humidity" : [100 , 40 , 70]}
df1 = pd.DataFrame(data1)
df1

    City  Tempreture  Humidity
0  Cairo          40       100
1   Alex          25        40
2  Benha          30        70

AttributeError: 'DataFrame' object has no attribute 'Nationality'