# 1 : Variables

Variables  ::   Take Any Kind Of dataTypes such ( int , float , complex , Bool , str , list , tuple , set , dict , func , class and pointer)

In [21]:
I = 10
Fl = 15.7
C = 8j+5
T = True
F = False
S = "Hi_Ahmed"
List = [10,20,30]
Tuple = ("Ahmed" , "Ali" , "Tamer")
St = {"Ali" , True , 50}
Dict = {"Name" : "Ahmed" , "Adge": 27 , "Position" : "Data_Scientist" , "Statu" : "Single"}
def func (x) :
    print("Hello World")
d = func("Speech")


print(I,F,C,T,F,S,List,Tuple,St,Dict,func(d))


print("==============================================")
    
print(I,"\n",F,"\n",C,"\n",T,"\n",Fl,"\n",S,"\n",List,"\n",Tuple,"\n",St,"\n",Dict,"\n",d)

Hello World
Hello World
10 False (5+8j) True False Hi_Ahmed [10, 20, 30] ('Ahmed', 'Ali', 'Tamer') {True, 50, 'Ali'} {'Name': 'Ahmed', 'Adge': 27, 'Position': 'Data_Scientist', 'Statu': 'Single'} None
==============================================
10
 False
 (5+8j)
 True
 15.7
 Hi_Ahmed
 [10, 20, 30]
 ('Ahmed', 'Ali', 'Tamer')
 {True, 50, 'Ali'}
 {'Name': 'Ahmed', 'Adge': 27, 'Position': 'Data_Scientist', 'Statu': 'Single'}
 None

# 2_Datatybes

In [23]:
print(type(I))
print(type(Fl))
print(type(C))
print(type(T))
print(type(F))
print(type(S))
print(type(List))
print(type(Tuple))
print(type(St))
print(type(Dict))
print(type(d))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'NoneType'>

# 3_Numbers

In [26]:
x  = 100
x1 = -120
y  = 3.14
y1 = -33.5
z  = 5j+9
z1 = -5j-4

print(x)
print("==============")
print(x1)
print("==============")
print(y)
print("==============")
print(y1)
print("==============")
print(z)
print("==============")
print(z1)

print("==============")
print("==============")

print(type(x))
print(type(x1))
print(type(y))
print(type(y1))
print(type(z))
print(type(z1))

100
==============
-120
==============
3.14
==============
-33.5
==============
(9+5j)
==============
(-4-5j)
==============
==============
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'complex'>

# 3_1 :: Operation in Numbers

In [27]:
#  1 :: Summation operation

print( 10 +20 )
print("=================")
print( 150 + 50 )

30
=================
200

In [28]:
# 2 :: Substracation  operation

print( 10 - 20 )
print("=================")
print( 150 - 50 )

-10
=================
100

In [29]:
# 3 :: Multiplication operation

print( 10 * 20 )
print("=================")
print( 150 * 50 )

200
=================
7500

In [30]:
# 4 ::power of operation

print( 2**3 )
print("=================")
print( 8**2 )

8
=================
64

In [32]:
# 5::division operation 

print( 20 / 10) # output float num 
print("=================")
print( 200 // 2) # output int num

2.0
=================
100

In [33]:
# 5 :: Modiluse

print( 20 % 2)
print("=================")
print( 20 % 3)

0
=================
2

1 The order of operation 


1 Brackets ()
2) **
3) *, /, //, %
4) +, -
#if any operation in the same rank for ex: *, % so operation goes from left to right

In [34]:
ex = 8+5-(2*4)//2+8-(2*3)
print(ex)

11

# 3_2 ::Assignment Operation

In [38]:
x+=1
print(x)
print("============")
x-=1
print(x)
print("============")
x*=2
print(x)
print("============")
x//=2
print(x)
print("============")
print(x**2)

102
============
101
============
202
============
101
============
10201

# 3_3 ::Convert dtype

In [45]:
i = 100
print(i)
print(float(i))
print(type(i))
print("============")
ii = -33.5
print(ii)
print(int(ii))
print(type(ii))
print("============")
print(complex(i ,ii))
print("============")

print(str(i))
print("============")
print(str(ii))


# But we can't convert from str into int or float
# And we can't convert from complex into int ,float

100
100.0
<class 'int'>
============
-33.5
-33
<class 'float'>
============
(100-33.5j)
============
100
============
-33.5

# 3_4 ::Funcations

In [47]:
iii =[10,20,30]
print(type(i))
print("============")
print(len(iii))
print("============")
print(abs(ii))

<class 'int'>
============
3
============
33.5

# 4 :: Boolean

In [4]:
t = True
f = False

print(t)
print(type(t))
print(int(t))
print("==========")
print(f)
print(type(f))
print(int(f))
print("==========")

True
<class 'bool'>
1
==========
False
<class 'bool'>
0
==========

# 6 :: Comparision operation

In [10]:
num1 = 100
num2 = 150
num3 = 200
print( num1 > num2 )
print("=======")
print( num1 >= num2 )
print("=======")
print (num2 == num3 )
print("=======")
print( num3 > num1 )
print("=======")
print( num1 <= num2 )
print("=======")
print( num1 != num2)
print("=======")
print( num1 < num2 < num3)
print("=======")
print( num3 == num2 == num1)

False
=======
False
=======
False
=======
True
=======
True
=======
True
=======
True
=======
False

# 7 :: logic operation

In [14]:
print( num1 > num2 and num2 > num3)
print("=======")
print( num2 > num1 and num3 > num2)
print("=======")
print( num3 >= num2 and num1 <= num2)
print("=======")
print( num1 == num2 or num3 != num2)
print("=======")
print( num3 > num1 or num2 <= num1)
print("=======")
print( num2 <= num1 or num2 == num3)
print("=======")
print( not num1 > num2 and not num3 < num2)
print("=======")
print( not num3 >= num2 or not num2 > num3)
print("=======")
print( not num1 == num3 and not num3 == num1)
print("=======")
print((not 1 == 5) and ((not 2 > 5) or 3 > 7))
print("=======")
print((not 1 == 5) and ((not 5 > 2) or not 8 > 5))

False
=======
True
=======
True
=======
True
=======
True
=======
False
=======
True
=======
True
=======
True
=======
True
=======
False