# Creat Class

In [18]:
class EMP : # Class create fun
    
    # Attributies
    
    Emp_Id = "0"
    Emp_Name = ""
    Emp_Position = ""
    Emp_Addr = ""
    Emp_Salary = "0"
    
    # Methods 
    
    # Func rerurn data
    def get_data (self) :
        return " Id::> " + self.Emp_Id + "  Pos ::> " + self.Emp_Position + "  ::Addrss ::> " + self.Emp_Addr + "  ::Salary ::> " + self.Emp_Salary + "  ::Name :: > " + self.Emp_Name
    
    # Func print data
    
    def print_data (self) :
        print(self.get_data())
        
EMP1 = EMP() # Object 1 From Class

EMP1.Emp_Id = "1994"    # Attr1
EMP1.Emp_Name = "Ahmed" # Attr
EMP1.Emp_Position = "Data_Scientist"  # Attr2
EMP1.Emp_Addr = "Elghadany Street"  # Attr3
EMP1.Emp_Salary = "10000"  # Attr4
EMP1.print_data()  # M1
print("==================================")
print(EMP1.get_data())


print("=======================================")
print("=======================================")
print("=======================================")

EMP2=EMP()           # Object 2 from class
EMP2.Emp_Id="222"      # Attr1
EMP2.Emp_Name = "Noura"  # Attr
EMP2.Emp_Position="AI_Specialist"    # Attr2
EMP2.Emp_Addr="ElrehaB City"    # Attr3
EMP2.Emp_Salary="500000"    # Attr4
EMP2.print_data()  # M1
print(EMP2.get_data())  # M2

 Id::> 1994  Pos ::> Data_Scientist  ::Addrss ::> Elghadany Street  ::Salary ::> 10000  ::Name :: > Ahmed
==================================
 Id::> 1994  Pos ::> Data_Scientist  ::Addrss ::> Elghadany Street  ::Salary ::> 10000  ::Name :: > Ahmed
=======================================
=======================================
=======================================
 Id::> 222  Pos ::> AI_Specialist  ::Addrss ::> ElrehaB City  ::Salary ::> 500000  ::Name :: > Noura
 Id::> 222  Pos ::> AI_Specialist  ::Addrss ::> ElrehaB City  ::Salary ::> 500000  ::Name :: > Noura

# Initiolization

In [19]:
class Emp :    #name of class
    EmpId =" 0 "    #Attribute 1 have initial value
    EmpName =""  #Att2
    EmpAddr =""   #Att3
    EmpSalary ="0" #Att4
    def __init__(self):
        print("New Obtject From Class")
    def getdata (self) :  # Method1
        return self.EmpId +" ; "+ self.EmpName+ " ; "+ self.EmpAddr+" ; "+ self.EmpSalary
    def printdata (self) : # Method 2
        print(self.getdata())
        
E1=Emp()
E2=Emp()
E3=Emp()

New Obtject From Class
New Obtject From Class
New Obtject From Class

# Inside Parameter of Object in Class

In [24]:
class Empp :
    EmppId     = 0
    EmppName   = ""
    EmppAddr   = ""
    EmppSalary = 0
    def __init__(self,ID,Name,Addrs,Salary) :
        self.EmppId        =ID
        self.EmppName      = Name
        self.EmppAddr      = Addrs
        self.EmppSalary    = Salary
    def getdata (self) :
        return  "Id::> " +str(self.EmppId) + " Name::> "+self.EmppName + " Adress::> "+self.EmppAddr + " Salary::> "+str(self.EmppSalary)
    def printdata (self):
        print(self.getdata())

E1=Empp(1,"Ali","Cairo",20000)
E2=Empp(2,"Ahmed","Giza",10000)


print(E1.getdata())
print(E2.getdata())

Id::> 1 Name::> Ali Adress::> Cairo Salary::> 20000
Id::> 2 Name::> Ahmed Adress::> Giza Salary::> 10000

In [27]:
class Empp :
    EmppId     = "0"
    EmppName   = ""
    EmppAddr   = ""
    EmppSalary = "0"
    def __init__(self,ID,Name,Addrs,Salary) :
        self.EmppId        =ID
        self.EmppName      = Name
        self.EmppAddr      = Addrs
        self.EmppSalary    = Salary
    def getdata (self) :
        return "Id::> " + self.EmppId + " Name::> "+self.EmppName + " Adress::> "+self.EmppAddr + " Salary::> "+ self.EmppSalary
    def printdata (self):
        print(self.getdata())

E1=Empp("1","Ali","Cairo","20000")
E2=Empp("2","Ahmed","Giza","10000")


print(E1.getdata())
print(E2.getdata())

Id::> 1 Name::> Ali Adress::> Cairo Salary::> 20000
Id::> 2 Name::> Ahmed Adress::> Giza Salary::> 10000

# Append Attributes to Class

In [32]:
class Testt :
    pass
T1=Testt()
T1.Name = " Ali"
T1.Position = " Data_Scientist"
T2=Testt()
T2.Name="Ahmed"
T2.Position = " AI_Specialist"
print(f"The Name is  of T1:: {T1.Name}")
print("========")
print(f"The Name is of T2  :: {T2.Name}")
print("========")
print(f"The Position is of T1 :: {T1.Position}")
print("==================================")
print(f"The Position is  of T2 :: {T2.Position}")

The Name is  of T1::  Ali
========
The Name is of T2  :: Ahmed
========
The Position is of T1 ::  Data_Scientist
==================================
The Position is  of T2 ::  AI_Specialist

In [34]:
class Emp :
    pass

E1=Emp()

setattr (E1,"Name","Ahmed")
setattr(E1,"City","Cairo")
setattr(E1,"Salary",10000)


E2=Emp()
setattr(E2,"NIck","Turki")
setattr(E2,"Tel", +2001013900542)

print(E1.Name)
print(E1.Salary)
print(E1.City)

print("========================")
print("========================")


print(E2.NIck)
print(E2.Tel)

Ahmed
10000
Cairo
========================
========================
Turki
2001013900542

# Show data in Class

In [36]:
class Testt :
    def ShowN (self) :
        print(self.Name)
    pass
T1=Testt()
T1.Name = " Ali"
T2=Testt()
T2.Name="Ahmed"

print(T1.Name)
print(T2.Name)

T1.ShowN()

print("=======================")

print("=======================")

T2.ShowN()

 Ali
Ahmed
 Ali
=======================
=======================
Ahmed

# Destructor or delet  Object

In [38]:
class Test :
    def __init__(self) :                 # func Of create
        print("Created Object done")
    def __del__(self) :                 # Func Of delete
        print("Deleted Object done")
        
#create T1 ,T2, T3        
        
   

T1=Test()
T2=Test()
T3=Test()

print("======================")
print("======================")

#Delete T3,T2

del T3
del T2

Created Object done
Deleted Object done
Created Object done
Deleted Object done
Created Object done
Deleted Object done
======================
======================
Deleted Object done
Deleted Object done

# get Attributies  Func

In [39]:
class Emp :
    Name = "Ahmed"
    
    
    
E1=Emp()
E1.Salary=100000

print(getattr(E1,"Name"))
print(getattr(E1,"Salary"))

print("==========================")

E2=Emp()
E2.Nick="Turki"
E2.Tel=+2001013900542



print(getattr(E2,"Nick"))
print(getattr(E2,"Tel"))

Ahmed
100000
==========================
Turki
2001013900542

# has Attrbuties

In [43]:
class Emp :
    Name = "Ahmed"
    
    
    
E1=Emp()
E1.Salary=100000

print(hasattr(E1,"Name"))
print(hasattr(E1,"Salary"))
print(hasattr(E1,"Id"))

print("==========================")
print("==========================")

print("==========================")


E2=Emp()
E2.Nick="Turki"
E2.Tel=+2001013900542



print(hasattr(E2,"Nick"))
print(hasattr(E2,"Tel"))
print(hasattr(E2,"Position"))

True
True
False
==========================
==========================
==========================
True
True
False

# Delet Attributies

In [46]:
class Emp :
    Name ="Empty"
    
    
E1=Emp()

print(E1.Name)
E1.Name="Ahmed"
print(hasattr(E1,"Name"))
print("============")

print(getattr(E1,"Name"))
print("==============")

print(E1.Name)

delattr(E1,"Name")    # any Attributies not Found at Class Give Us Error

print(E1.Name)

Empty
True
============
Ahmed
==============
Ahmed
Empty

# Inner or Nested Class

In [49]:
class Comp :
    Name ="LaB"
    Gender=7
    class Hard :
        Type = "HD"
        Size =1000
    class Ram :
        Type ="4G"
        Size = 32
        
    
C1=Comp()
print(f"The Name of C1.Name is :: {C1.Name}" )
print("=================================")
print(f"The Type of C1.Hard.Type is :: {C1.Hard.Type}")
print("=================================")

print(f"The Size of C1.Ram.Size is :: {C1.Ram.Size}")

The Name of C1.Name is :: LaB
=================================
The Type of C1.Hard.Type is :: HD
=================================
The Size of C1.Ram.Size is :: 32

# Secret Attributies  And Function

In [59]:
 # Secret    Not Define


class T :
    __Tname =  "Teto"
    Tnamee = "Turki"
    
    def __printname (self) :
        print("Hello" + self.name)
        
    def print_data (self) :
        print(f"Hello  :: {self.Tnamee}")

        
T1=T()
print(T1.Tnamee)
T1.print_data()

print("=================")
print(hasattr(T , "Tname"))
print(hasattr(T , "Tnamee"))

print(T1.__Tname)
T1.__printname()

Turki
Hello  :: Turki
=================
False
True

AttributeError: 'T' object has no attribute '__Tname'

In [60]:
# Not Secret Define

class Test :
    name ="Ahmed"
    
    def printname (self):
        print("Hello"  + self.name)
        
    
T1=Test()

print(T1.name)
T1.printname()

Ahmed
HelloAhmed

# Index of objects

In [61]:
from itertools import count

class Empp :
    objectscount = count(0)     #constant for all object
    index        = 0    # change every time
    EmppId       = 0
    EmppName     = ""
    EmppAddr     = ""
    EmppSalary   = 0
    
  
        
    def __init__(self,ID,Name,Addrs,Salary) :
        self.index         =next(self.objectscount)
        
        self.EmppId        =ID
        self.EmppName      = Name
        self.EmppAddr      = Addrs
        self.EmppSalary    = Salary
        
    
        
    def getdata (self) :
        return str(self.EmppId) +" ; "+self.EmppName+" ; "+self.EmppAddr+" ; "+str(self.EmppSalary)
    def printdata (self):
        print(self.getdata())

E1=Empp(1,"Ali","Cairo",20000)
E2=Empp(2,"Ahmed","Giza",10000)
E3=Empp(3,"Mido","Tanta",30000)
E4=Empp(4,"Turki","naser city",40000)


print(E1.getdata())
print(E2.getdata())
print(E3.getdata())
print(E4.getdata())


print(E1.index)
print(E2.index)
print(E3.index)
print(E4.index)




print(E1.objectscount)
print(E2.objectscount)
print(E3.objectscount)
print(E4.objectscount)

1 ; Ali ; Cairo ; 20000
2 ; Ahmed ; Giza ; 10000
3 ; Mido ; Tanta ; 30000
4 ; Turki ; naser city ; 40000
0
1
2
3
count(4)
count(4)
count(4)
count(4)

# Gloal Variable Inside Class

In [62]:
X=0                   # initial value of X
class Emp :
    Id     = 0
    Name   = ""
    Addrs  = ""
    Salary = 0
    global X        # define X in Class
    X=100           # give Variable  Value
    
    def getdata (self) :
        return str(self.Id)+" ; "+self.Name+" ; "+self.Addrs+" ; "+str(self.Salary)
    def printdata (self) :
        print(self.getdata())
        
E1=Emp ()
print(X)
E1.Id=1
E1.Name="Ahmed"
E1.Addrs="Cairo"
E1.Salary=20000
print(E1.getdata())

100
1 ; Ahmed ; Cairo ; 20000

In [63]:
X=0             # initial value of X
class Emp :
    Id     = 0
    Name   = ""
    Addrs  = ""
    Salary = 0
    
    def changeX(self,Num) :     # Creat fun to change X
        global X                # define X in Class
        
        X=Num                   # Give X Value From User
       


    def getdata (self) :
        return str(self.Id)+" ; "+self.Name+" ; "+self.Addrs+" ; "+str(self.Salary)
    def printdata (self) :
        print(self.getdata())
        
E1=Emp ()
E1.changeX(200)
print(X)
E1.Id=1
E1.Name="Ahmed"
E1.Addrs="Cairo"
E1.Salary=20000
print(E1.getdata())

200
1 ; Ahmed ; Cairo ; 20000

In [64]:
X=0             # initial value of X
class Emp :
    Id     = 0
    Name   = ""
    Addrs  = ""
    Salary = 0
    
    def __init__(self) :   # fun of Count
        
        global X           # define X in Class
        X+=1               # increament
            
    
    def getdata (self) :
        return str(self.Id)+" ; "+self.Name+" ; "+self.Addrs+" ; "+str(self.Salary)
    def printdata (self) :
        print(self.getdata())
        
E1=Emp ()
E2=Emp()
E3=Emp()
print(X)
E1.Id=1
E1.Name="Ahmed"
E1.Addrs="Cairo"
E1.Salary=20000
print(E1.getdata())
E2.Id=2
E2.Name="Ali"
E2.Addrs="Giza"
E2.Salary=50000
print(E2.getdata())
E3.Id=3
E3.Name="Mido"
E3.Addrs="Naser City"
E3.Salary=60000
E3.printdata()

3
1 ; Ahmed ; Cairo ; 20000
2 ; Ali ; Giza ; 50000
3 ; Mido ; Naser City ; 60000