# 1 :: List

It is mutable data type

In [71]:
L = [ 10 , True , 3.14 , "Tamer" , [20,21,22] ,{80,"a" , False} , {"Name" : "Ahmed" , "Id" : 202010}]
print(L)
print("===============================")
print(L[0])
print("======")
print(L[5])
print("======")
print(L[::-1])
print("==================================")
print(L[4][2])
print("=========")
print(L[3][0])
print("=========")
print(L[6]["Name"])
print("=========")
print(type(L))
print("======")
print(type(L[1]))
print("======")
print(type(L[5]))
print("======")
print(type(L[-1]))
print("======")
print(type(L[3]))
print("======")
print(len(L))

[10, True, 3.14, 'Tamer', [20, 21, 22], {80, False, 'a'}, {'Name': 'Ahmed', 'Id': 202010}]
===============================
10
======
{80, False, 'a'}
======
[{'Name': 'Ahmed', 'Id': 202010}, {80, False, 'a'}, [20, 21, 22], 'Tamer', 3.14, True, 10]
==================================
22
=========
T
=========
Ahmed
=========
<class 'list'>
======
<class 'bool'>
======
<class 'set'>
======
<class 'dict'>
======
<class 'str'>
======
7

# 1 _ 2 ::operation in lists

In [72]:
print(L[0])
print("======")
L[0]+=40 # update Vale of indx L[0]
print(L[0])
print("===========================================================")
# Concatenate list

print(L + ["A" , "B" ,100])

print("===============================================================")
# Replicate List

print(L*3)
print("=========================================")

print(len(L))

10
======
50
===========================================================
[50, True, 3.14, 'Tamer', [20, 21, 22], {80, False, 'a'}, {'Name': 'Ahmed', 'Id': 202010}, 'A', 'B', 100]
===============================================================
[50, True, 3.14, 'Tamer', [20, 21, 22], {80, False, 'a'}, {'Name': 'Ahmed', 'Id': 202010}, 50, True, 3.14, 'Tamer', [20, 21, 22], {80, False, 'a'}, {'Name': 'Ahmed', 'Id': 202010}, 50, True, 3.14, 'Tamer', [20, 21, 22], {80, False, 'a'}, {'Name': 'Ahmed', 'Id': 202010}]
=========================================
7

# 1 _3 Functions and Methods

In [73]:
Add = L.append(False)
print(L)
print("========================")
M_Add = L.extend(["Ali" , 2020 , [50,20,40]])
print(L)
print("========================")
L.insert( 1 , "ins")

print(L)
print("======")
print(L.count(False))
print("======")
print(L.index("Tamer"))
print("======")
rev =L.reverse()
print(rev)
print("======")

[50, True, 3.14, 'Tamer', [20, 21, 22], {80, False, 'a'}, {'Name': 'Ahmed', 'Id': 202010}, False]
========================
[50, True, 3.14, 'Tamer', [20, 21, 22], {80, False, 'a'}, {'Name': 'Ahmed', 'Id': 202010}, False, 'Ali', 2020, [50, 20, 40]]
========================
[50, 'ins', True, 3.14, 'Tamer', [20, 21, 22], {80, False, 'a'}, {'Name': 'Ahmed', 'Id': 202010}, False, 'Ali', 2020, [50, 20, 40]]
======
1
======
4
======
None
======

In [74]:
l = [50,20,10,30]
print(l)
print("======")
l.pop()
print(l)
print("======")
l.insert(2 ,"Ahmed")
print(l)
print("======")
l.pop(3)
print(l)
print("======")
l.remove(50)
print(l)

[50, 20, 10, 30]
======
[50, 20, 10]
======
[50, 20, 'Ahmed', 10]
======
[50, 20, 'Ahmed']
======
[20, 'Ahmed']

In [75]:
l.copy()
print(l)
print("======")
l.clear()
print(l)

[20, 'Ahmed']
======
[]

In [87]:
n_l = [100,40,60,10,80]
print(n_l)
print("=============")
print(sorted(n_l))
print("==========")
n_l.sort(reverse = True)
print(n_l)

[100, 40, 60, 10, 80]
=============
[10, 40, 60, 80, 100]
==========
[100, 80, 60, 40, 10]

# 2 :: Tuples 

If you have immutable data, constant size and values.
If you want speed up processing on the data.

In [76]:
T = ( 10 , "Ali" ,True , [20,40,50],("A" , 2020 , "B") , {100,"j",False})
print(T)
print("======")
print(type(T))
print("======")
print(type(T[-1]))
print("======")
print(len(T))
print("======")
print(len(T[3]))
print("======")
print(T)
print("======")
print(T[:4])
print("======")
print(T[::-1])

(10, 'Ali', True, [20, 40, 50], ('A', 2020, 'B'), {'j', False, 100})
======
<class 'tuple'>
======
<class 'set'>
======
6
======
3
======
(10, 'Ali', True, [20, 40, 50], ('A', 2020, 'B'), {'j', False, 100})
======
(10, 'Ali', True, [20, 40, 50])
======
({'j', False, 100}, ('A', 2020, 'B'), [20, 40, 50], True, 'Ali', 10)

# 2_2 :: Operation in Tuples

In [77]:
print(T*2)
print("======")
T+=(80,70,60)
print(T)
print("======")

(10, 'Ali', True, [20, 40, 50], ('A', 2020, 'B'), {'j', False, 100}, 10, 'Ali', True, [20, 40, 50], ('A', 2020, 'B'), {'j', False, 100})
======
(10, 'Ali', True, [20, 40, 50], ('A', 2020, 'B'), {'j', False, 100}, 80, 70, 60)
======

# 2_3 :: Func And Methods

In [78]:
T.count(True)
print("======")
T[3].insert(2,"Ali")
print(T)
T.index("Ali")

======
(10, 'Ali', True, [20, 40, 'Ali', 50], ('A', 2020, 'B'), {'j', False, 100}, 80, 70, 60)

1

In [151]:
t = (100,80 ,False ,20 ,10)
print(t)
print("====")
print(sorted(t))

(100, 80, False, 20, 10)
====
[False, 10, 20, 80, 100]

In [153]:
print(t)
print("========")
del t

(100, 80, False, 20, 10)
========

# 3 :: Sets

It is immutable data type

In [79]:
s = { 100 , "K" , False , "A" , 100  }
print(s)
print("======")
print(type(s))
print("======")
print(len(s))
print("======")

{False, 'K', 'A', 100}
======
<class 'set'>
======
4
======

# 3_2 :: Operation in Sets

In [83]:
s1 = { 20 ,"a" ,True , "B" ,10  , 20  , "a"}
s2 = { 100 , "B" , False , 20 , 90 , 100}
print(s1)
print("======")
print(s2)
print("======")
print(len(s1))
print("======")
print(len(s2))
print("======")
print(type(s1))
print("======")
print(type(s2))
print("======")
print(s1|s2) # Union
print("======")
print(s1&s2)  # intersection
print("======")
print(s1-s2)  # deffirence

{True, 10, 20, 'B', 'a'}
======
{False, 100, 20, 'B', 90}
======
5
======
5
======
<class 'set'>
======
<class 'set'>
======
{False, True, 100, 10, 20, 'B', 90, 'a'}
======
{20, 'B'}
======
{True, 10, 'a'}

#Convert from list into set

In [94]:
list1 = [10,80,44,64,"a",80,True , 10]
print(set(list1))

{64, True, 10, 44, 80, 'a'}

# 3_3 :: Func and method

In [93]:
s.add("Turkkey")
print(s) # Add value
print("===========")
s.discard(2) # delet index
print(s)
print("===========")
print(s2.intersection(s1))
print("==============")
print(s2.union(s1))
print("================")
print(s2.difference(s1))

{False, 'K', 'A', 100, 'Turkkey'}
===========
{False, 'K', 'A', 100, 'Turkkey'}
===========
{20, 'B'}
==============
{False, True, 100, 10, 20, 'B', 90, 'a'}
================
{False, 90, 100}

delet sets

In [143]:
ss = {"d" , False , 100 ,2}
print(ss)
print("===========")
del ss

{False, 2, 100, 'd'}
===========

# 4 :: dictionary

In [125]:
d = {"Name" : "Ahmed" , "password" : [123321 , 332211 , 159357] , "Position" :["data_scientist" , "Ai_Specialist"]}
print(d)
print("========")
print(type(d))
print("========")
print(type(d["password"]))
print("========")
print(len(d))
print("========")
print(len(d["password"]))
print("========")
print(d["Name"])
print("========")
print(d["Name"][3])
print(d["Position"][0])

{'Name': 'Ahmed', 'password': [123321, 332211, 159357], 'Position': ['data_scientist', 'Ai_Specialist']}
========
<class 'dict'>
========
<class 'list'>
========
3
========
3
========
Ahmed
========
e
data_scientist

# 4_2 :: func and methods

In [126]:
print(d)
print("==================")
print(d.get("Position"))
print("===========")
print(list(d.get("Position")))
print("================")
print(d.items())
print("================")
print(d.values())
print("================")
print(d.keys())
print("================")
d["Graduation"] = "Computer Science" # apeand new_key
print(d)
print("===========")

{'Name': 'Ahmed', 'password': [123321, 332211, 159357], 'Position': ['data_scientist', 'Ai_Specialist']}
==================
['data_scientist', 'Ai_Specialist']
===========
['data_scientist', 'Ai_Specialist']
================
dict_items([('Name', 'Ahmed'), ('password', [123321, 332211, 159357]), ('Position', ['data_scientist', 'Ai_Specialist'])])
================
dict_values(['Ahmed', [123321, 332211, 159357], ['data_scientist', 'Ai_Specialist']])
================
dict_keys(['Name', 'password', 'Position'])
================
{'Name': 'Ahmed', 'password': [123321, 332211, 159357], 'Position': ['data_scientist', 'Ai_Specialist'], 'Graduation': 'Computer Science'}
===========

In [127]:
print(d)
print("===========")
d.pop("Name")
print(d)
print("=============")
print(d.popitem())

{'Name': 'Ahmed', 'password': [123321, 332211, 159357], 'Position': ['data_scientist', 'Ai_Specialist'], 'Graduation': 'Computer Science'}
===========
{'password': [123321, 332211, 159357], 'Position': ['data_scientist', 'Ai_Specialist'], 'Graduation': 'Computer Science'}
=============
('Graduation', 'Computer Science')

In [129]:
print(d)
print("===========")
d["password"][1] = 123456 # updata index of key in dict
print(d)

{'password': [123321, 332211, 159357], 'Position': ['data_scientist', 'Ai_Specialist']}
===========
{'password': [123321, 123456, 159357], 'Position': ['data_scientist', 'Ai_Specialist']}

In [130]:
del d["password"][0] # o delet index in key in dic
print(d)

{'password': [123456, 159357], 'Position': ['data_scientist', 'Ai_Specialist']}

In [132]:
d.get('Career', 'not_found') # if key not found output NotFound

'not_found'

Create dctionary using Twoo lists

In [135]:
lis  = ["Name" , "Adge" ,"Country" , "jop"]
liss = ["Ahmed" , 27 , "Frankfurt" , "ML_Engineering"]
print(lis)
print("===================")
print(liss)
print("===================")
print(dict(zip( lis , liss )))

['Name', 'Adge', 'Country', 'jop']
===================
['Ahmed', 27, 'Frankfurt', 'ML_Engineering']
===================
{'Name': 'Ahmed', 'Adge': 27, 'Country': 'Frankfurt', 'jop': 'ML_Engineering'}