# 1 :: For Loop

In [4]:
l = [ 100 , -3.25 , "Mido" , [20,80,True] ,{"Name" : "Ahmed" , "Position" : "Data_Scientist"} ]

for i in l :
    print("The Element ::  \n" , i)

The Element ::
 100
The Element ::
 -3.25
The Element ::
 Mido
The Element ::
 [20, 80, True]
The Element ::
 {'Name': 'Ahmed', 'Position': 'Data_Scientist'}

In [17]:
l1 = [ 10 , 19 , 80 , 77 ,40 ,35 , 60]
for i in l1 :
    print(i*2)
print("======")
for i in l1 :
    print(i//2)
print("=========")
for i in l1 :
    if i % 2 == 0 :
        print(i)

20
38
160
154
80
70
120
======
5
9
40
38
20
17
30
=========
10
80
40
60

# 1_2 :: If Condation in for loop

In [18]:
for i in l1 :
    if i % 2 == 0 :
        print( i , "::Even Number")
    else :
        print( i , "::Odd Number")
        
    print("=================")

10 ::Even Number
=================
19 ::Odd Number
=================
80 ::Even Number
=================
77 ::Odd Number
=================
40 ::Even Number
=================
35 ::Odd Number
=================
60 ::Even Number
=================

In [20]:
for i in l1 :
    if i % 2 == 0 :
        print(f" {i} Is Even number")
    else :
        print(f" {i} Is Odd number")

 10 Is Even number
 19 Is Odd number
 80 Is Even number
 77 Is Odd number
 40 Is Even number
 35 Is Odd number
 60 Is Even number

In [26]:
print(l1)
print("==========")
for i in l1 :
    print(f" {i} + 100 =" , i+100)

[10, 19, 80, 77, 40, 35, 60]
==========
 10 + 100 = 110
 19 + 100 = 119
 80 + 100 = 180
 77 + 100 = 177
 40 + 100 = 140
 35 + 100 = 135
 60 + 100 = 160

In [29]:
lis = [ (2,6),(8,3),(10,4)]
for i in lis :
    print(i)
    print("===========")
for j1,j2 in lis :
    print(j1+j2)

(2, 6)
===========
(8, 3)
===========
(10, 4)
===========
8
11
14

In [30]:
lis1 = [ (10,8 ,4 ,1) , (11,18,14,16) , (21 ,28 ,24 ,26)]
for (i1,i2,i3,i4) in lis1 :
    print(f"{i1} ,, {i2} ,, {i3} ,, {i4}")

10 ,, 8 ,, 4 ,, 1
11 ,, 18 ,, 14 ,, 16
21 ,, 28 ,, 24 ,, 26

# 1 _3 For loop in Strings

In [27]:
S = "Ich bin Ahmed Elsayed Ebrahim"
for i in S :
    print(i)

I
c
h

b
i
n

A
h
m
e
d

E
l
s
a
y
e
d

E
b
r
a
h
i
m

In [39]:
d = {"Name" : "Ahmed" , "Password" : [100012 , 11210, 202010] , "Position" : "AI_Specialist"}
for i in d :
    print(i)
    print("============")

Name
============
Password
============
Position
============

In [48]:
print(list(d.keys()))
print("============")
print(list(d.values()))
print("==============")
print(list(d.items()))

print("====================")
print("====================")
for k1,k2 in list(d.items()) :
    print(k1,k2)
    print("================")
    print(f"the key is {k1} and the values is {k2}")

['Name', 'Password', 'Position']
============
['Ahmed', [100012, 11210, 202010], 'AI_Specialist']
==============
[('Name', 'Ahmed'), ('Password', [100012, 11210, 202010]), ('Position', 'AI_Specialist')]
====================
====================
Name Ahmed
================
the key is Name and the values is Ahmed
Password [100012, 11210, 202010]
================
the key is Password and the values is [100012, 11210, 202010]
Position AI_Specialist
================
the key is Position and the values is AI_Specialist

# 1_4 :: For loop in range

In [49]:
for i in range(10):
    print(i)
print("==================")
for j in range (10,20) :
    print(j)
print("==================")
for k in range (0,20,2):
    print(k)

0
1
2
3
4
5
6
7
8
9
==================
10
11
12
13
14
15
16
17
18
19
==================
0
2
4
6
8
10
12
14
16
18

In [50]:
for f in open ("G:/Data Field/D..S..Course./my_file2.txt", "r+") :
    print(f.title())

I Bin Ahmed



Ich Komme Aus Kairo



Ich Arbiete Data Scientist

In [52]:
for s in range (1,11) :
    print(f" 1 * {s} = {s*1}")

 1 * 1 = 1
 1 * 2 = 2
 1 * 3 = 3
 1 * 4 = 4
 1 * 5 = 5
 1 * 6 = 6
 1 * 7 = 7
 1 * 8 = 8
 1 * 9 = 9
 1 * 10 = 10

In [55]:
# 1_5 :: Nested for loop
for x in range (1,11) :
    print(f"gdwal el darb of {x}")
    for y in range (1 , 11) :
        print(f" {x} * {y} = {x*y}")
    print("===============================")
        
print("===============================")

gdwal el darb of 1
 1 * 1 = 1
 1 * 2 = 2
 1 * 3 = 3
 1 * 4 = 4
 1 * 5 = 5
 1 * 6 = 6
 1 * 7 = 7
 1 * 8 = 8
 1 * 9 = 9
 1 * 10 = 10
===============================
gdwal el darb of 2
 2 * 1 = 2
 2 * 2 = 4
 2 * 3 = 6
 2 * 4 = 8
 2 * 5 = 10
 2 * 6 = 12
 2 * 7 = 14
 2 * 8 = 16
 2 * 9 = 18
 2 * 10 = 20
===============================
gdwal el darb of 3
 3 * 1 = 3
 3 * 2 = 6
 3 * 3 = 9
 3 * 4 = 12
 3 * 5 = 15
 3 * 6 = 18
 3 * 7 = 21
 3 * 8 = 24
 3 * 9 = 27
 3 * 10 = 30
===============================
gdwal el darb of 4
 4 * 1 = 4
 4 * 2 = 8
 4 * 3 = 12
 4 * 4 = 16
 4 * 5 = 20
 4 * 6 = 24
 4 * 7 = 28
 4 * 8 = 32
 4 * 9 = 36
 4 * 10 = 40
===============================
gdwal el darb of 5
 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45
 5 * 10 = 50
===============================
gdwal el darb of 6
 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54
 6 * 10 = 60
===============================
gdwal el darb of 7
 7 * 1 = 7
 7 * 2 = 14
 7 * 3 = 21
 7 * 4 = 28
 7 * 5 = 35
 7 * 6 = 42
 7 * 7 = 49
 7 * 8 = 56
 7 * 9 = 63
 7 * 10 = 70
===============================
gdwal el darb of 8
 8 * 1 = 8
 8 * 2 = 16
 8 * 3 = 24
 8 * 4 = 32
 8 * 5 = 40
 8 * 6 = 48
 8 * 7 = 56
 8 * 8 = 64
 8 * 9 = 72
 8 * 10 = 80
===============================
gdwal el darb of 9
 9 * 1 = 9
 9 * 2 = 18
 9 * 3 = 27
 9 * 4 = 36
 9 * 5 = 45
 9 * 6 = 54
 9 * 7 = 63
 9 * 8 = 72
 9 * 9 = 81
 9 * 10 = 90
===============================
gdwal el darb of 10
 10 * 1 = 10
 10 * 2 = 20
 10 * 3 = 30
 10 * 4 = 40
 10 * 5 = 50
 10 * 6 = 60
 10 * 7 = 70
 10 * 8 = 80
 10 * 9 = 90
 10 * 10 = 100
===============================
===============================

In [56]:
l = [ "Samstag" , "Suntag" , "montag" ,"Dienestag" , "Mittwoche" , "Donisag" , "Fritag"]
for i in l :
    print(i)
    print(f"the letter of {i} are")
    for j in i :
        print(j)
    print("======================")
print("Thx Meine Frund  ^_^")

Samstag
the letter of Samstag are
S
a
m
s
t
a
g
======================
Suntag
the letter of Suntag are
S
u
n
t
a
g
======================
montag
the letter of montag are
m
o
n
t
a
g
======================
Dienestag
the letter of Dienestag are
D
i
e
n
e
s
t
a
g
======================
Mittwoche
the letter of Mittwoche are
M
i
t
t
w
o
c
h
e
======================
Donisag
the letter of Donisag are
D
o
n
i
s
a
g
======================
Fritag
the letter of Fritag are
F
r
i
t
a
g
======================
Thx Meine Frund  ^_^