In [1]:
l1 = [ 1 , 2 , 3 , 5 , 6 ]
l2 = []
for i in l1 :
    squr_Value = i**2
    l2.append(squr_Value)
print(l2)

[1, 4, 9, 25, 36]

In [5]:
lis2 = [ i**2 for i in l1]
print(lis2)

[1, 4, 9, 25, 36]

# 1_ Map Func

In [6]:
def square (num) :
    return num**2
lis1 =[ 1 , 2 , 3 , 4 , 5 , 6 ]
list(map( square , lis1 ))

[1, 4, 9, 16, 25, 36]

In [8]:
def area_circle (R) :
    return 3.14 * R**2
N_R = [ 1 , 2 , 3 , 4 , 5 , 6]
list(map( area_circle , N_R))

[3.14, 12.56, 28.26, 50.24, 78.5, 113.04]

In [17]:
names = ["Ahmed" , "Ali" , "Noura" , "Tamer"]
def func (name) :
    
    result = name.upper() * 2 + " Thx"
    return result
list(map(func , names))

['AHMEDAHMED Thx', 'ALIALI Thx', 'NOURANOURA Thx', 'TAMERTAMER Thx']

In [23]:
liss1 = list(range(10))
print(liss1)
print("================")
liss2 = []
for i in liss1 :
    if i % 2 == 0:
        
        liss2.append(i)
print(liss2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
================
[0, 2, 4, 6, 8]

In [26]:
liss2 =[i for i in liss1 if i % 2 == 0]
print(liss2)

[0, 2, 4, 6, 8]

# 2_ Filter Func

In [29]:
def check_even (nums) :
    return nums % 2 == 0 
nums = list(range(10))
list(filter(check_even , nums))

[0, 2, 4, 6, 8]

In [30]:
def check_div_on_five(num):
    return num % 5 == 0 

nums = list(range(1, 51))

list(filter(check_div_on_five,nums))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [31]:
li = list(range(6))
print(li)
print("============")
summ = 0
for i in li :
    summ += i
    
print(summ)

[0, 1, 2, 3, 4, 5]
============
15

In [39]:
li = list(range(6))
def summa (li) :
    summ = 0
    for i in li :
        summ += i
    return summ
summa(li)

15

# 3_ Reduce Func

In [40]:
from functools import reduce

def calc_sum(a, b):
    return a + b


lis = range(1, 6)
  
reduce(calc_sum,lis)

15

In [41]:
from functools import reduce

def calc_mult(a, b):
    return a * b


lis = [1, 2, 3, 4, 5]
  
reduce(calc_mult,lis)

120

In [42]:
from functools import reduce

def calc_sum(a, b):
    return a + b


lis = range(1, 6)
  
reduce(calc_sum,lis) / len(lis)

3.0

In [43]:
from functools import reduce

def check_bigger(a, b):
    return a if a > b else b

def check_smaller(a, b):
    return b if a > b else a
    

lis = [10, 255, 30, -4, 50]
  
print(reduce(check_bigger,lis))
print("================")
print(reduce(check_smaller,lis))

255
================
-4

find from the list the summetion of the cube of odd numbers between 1 & 20

In [51]:
from functools import reduce

my_nums = list(range(1, 21))

def is_odd(n):
    return n % 2 != 0

def cube_num(n):
    return n ** 3

def calculate_sum(a, b):
    return a + b
    
print(my_nums)
print("=============")
print("The filter list of odd is ::",list(filter( is_odd , my_nums)))
print("=============")
print("The map list of Cube is ::",list(map( cube_num , my_nums)))
print("=============")
print("The reduce value is ::" ,reduce( calculate_sum , my_nums))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
=============
The filter list of odd is :: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
=============
The map list of Cube is :: [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]
=============
The reduce value is :: 210

# 4_ Lamda func

In [55]:
def square (Num) :
    result = Num**2
    return result
square(2)

4

In [57]:
def square (Num) :
    return Num**2
square(2)

4

In [58]:
def square (Num) : return Num**2
square(2)

4

In [59]:
lis = [ 1 , 2 , 3 , 4 , 5 , 6]
print(list(filter(lambda num : num % 2 == 0 , lis)))

[2, 4, 6]

In [61]:
lis =list(range(10))
print(list(filter(lambda num : num % 2 == 0 , lis)))

[0, 2, 4, 6, 8]

In [62]:
lis =list(range(10))
print(list(map(lambda num : num % 2 == 0 , lis)))

[True, False, True, False, True, False, True, False, True, False]

In [63]:
lis =list(range(10))
print(list(map(lambda num : num**2 , lis)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [65]:
print(reduce(lambda a , b : a if a > b else b ,lis ))

9

In [66]:
from functools import reduce

my_nums = list(range(1, 21))

my_odd_nums = list(filter(lambda n: n % 2 != 0, my_nums))
my_odd_cube_nums = list(map(lambda n: n ** 3, my_odd_nums))
my_odd_cube_nums_sum = reduce(lambda a,b: a + b, my_odd_cube_nums)

print("my_odd_cube_nums_sum  is ::" , my_odd_cube_nums_sum )
print('==================================================')
print("my_odd_cube_nums IS :: " , my_odd_cube_nums)
print("===================================================")
print("my_odd_cube_nums_sum is :: " , my_odd_cube_nums_sum)

my_odd_cube_nums_sum  is :: 19900
==================================================
my_odd_cube_nums IS ::  [1, 27, 125, 343, 729, 1331, 2197, 3375, 4913, 6859]
===================================================
my_odd_cube_nums_sum is ::  19900