In [11]:
import pandas as pd

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error , mean_squared_error , median_absolute_error

In [2]:
data = pd.read_csv("G:\\Data Field\\D..S..Course\\data.sc.Asem\\Data\\Data\\2.1 Linear Regression\\satf.csv")

In [3]:
data

     high_GPA  math_SAT  verb_SAT  comp_GPA  univ_GPA
0        3.45       643       589      3.76      3.52
1        2.78       558       512      2.87      2.91
2        2.52       583       503      2.54      2.40
3        3.67       685       602      3.83      3.47
4        3.24       592       538      3.29      3.47
..        ...       ...       ...       ...       ...
100      3.76       605       590      3.74      3.64
101      3.49       692       683      3.27      3.42
102      3.07       680       692      3.19      3.25
103      2.19       617       503      2.98      2.76
104      3.46       516       528      3.28      3.41

[105 rows x 5 columns]

In [4]:
# Spliting data into input and output

# The Traning Based only one Feature

X = data.iloc[ : , : -1]
y =data.iloc[ : , -1]

In [5]:
X

     high_GPA  math_SAT  verb_SAT  comp_GPA
0        3.45       643       589      3.76
1        2.78       558       512      2.87
2        2.52       583       503      2.54
3        3.67       685       602      3.83
4        3.24       592       538      3.29
..        ...       ...       ...       ...
100      3.76       605       590      3.74
101      3.49       692       683      3.27
102      3.07       680       692      3.19
103      2.19       617       503      2.98
104      3.46       516       528      3.28

[105 rows x 4 columns]

In [6]:
y

0      3.52
1      2.91
2      2.40
3      3.47
4      3.47
       ...
100    3.64
101    3.42
102    3.25
103    2.76
104    3.41
Name: univ_GPA, Length: 105, dtype: float64

In [7]:
# spliting data into Training and testing
X_train  , X_test , y_train , y_test = train_test_split( X , y , test_size = 0.2 , random_state = 20 , shuffle = True)

Linear_Regression_Model = LinearRegression(fit_intercept=True , copy_X=True , n_jobs=-1 , normalize=True)
Linear_Regression_Model.fit(X_train, y_train)
Model_Coef = Linear_Regression_Model.coef_
Model_intercept = Linear_Regression_Model.intercept_
Model_Training_Score = Linear_Regression_Model.score(X_train , y_train)
Model_Testing_Score = Linear_Regression_Model.score(X_test , y_test)
y_pred = Linear_Regression_Model.predict(X_test)

# Chek_Model_Accuracy

MAE = mean_absolute_error(y_test , y_pred , multioutput="uniform_average")
MSE = mean_squared_error(y_test , y_pred , multioutput="uniform_average")
Median_A_E = median_absolute_error(y_test , y_pred)

In [9]:
print(f"The X_train :: \n=====\n{X_train}\n=====\nThe X_test :: \n====\n{X_test}\n====\nThe y_train :: {y_train}\nThe y_test ::\n==\n {y_test}\
\nThe y_predction ::\n {y_pred}\n======\nThe Model Coef :: {Model_Coef}\n=====\nThe Model_intercept :: {Model_intercept}\n========\n\
The traning_Score :: {Model_Training_Score}\n======\nThe Testing_SCore :: {Model_Testing_Score}\n====\nThe MAE :: \
{MAE}\n=======\nThe MSE :: {MSE}\n=======\nThe Median_A_E :: {Median_A_E}")

The X_train ::
=====
    high_GPA  math_SAT  verb_SAT  comp_GPA
97      3.19       650       684      3.11
51      2.84       571       543      2.17
35      2.71       564       543      2.17
37      3.22       691       662      3.28
67      2.24       554       542      2.07
..       ...       ...       ...       ...
28      3.34       683       648      3.21
95      3.06       691       683      3.19
15      3.68       683       642      3.52
90      2.09       554       480      3.68
99      2.48       568       541      2.14

[84 rows x 4 columns]
=====
The X_test ::
====
     high_GPA  math_SAT  verb_SAT  comp_GPA
72       3.28       641       608      3.40
78       3.11       685       694      3.28
31       3.81       691       684      3.71
5        2.10       562       486      2.64
2        2.52       583       503      2.54
46       2.54       564       500      2.38
38       2.29       573       591      2.74
100      3.76       605       590      3.74
93       3.02       567       602      3.17
0        3.45       643       589      3.76
39       2.03       568       517      2.19
60       2.67       574       538      3.19
81       2.62       582       591      2.97
12       2.59       604       582      3.21
98       2.23       551       554      2.17
36       3.15       668       604      2.98
48       3.21       619       573      2.84
23       3.32       619       558      3.01
65       3.42       667       583      3.09
53       2.71       554       538      2.49
92       3.28       628       580      3.34
====
The y_train :: 97    3.28
51    2.40
35    2.35
37    3.47
67    2.34
      ...
28    3.58
95    3.24
15    3.40
90    3.42
99    2.08
Name: univ_GPA, Length: 84, dtype: float64
The y_test ::
==
 72     3.31
78     3.41
31     3.60
5      2.37
2      2.40
46     2.52
38     3.00
100    3.64
93     3.28
0      3.52
39     2.74
60     3.08
81     3.12
12     3.19
98     2.29
36     3.17
48     3.01
23     3.37
65     3.01
53     2.38
92     3.49
Name: univ_GPA, dtype: float64
The y_predction ::
 [3.39359462 3.30211073 3.68073961 2.70223283 2.65238084 2.54341895
 2.84650138 3.71294528 3.24892978 3.67313906 2.36188757 3.19391458
 3.0439827  3.20474983 2.39706265 3.03517928 2.95221944 3.08391661
 3.13081331 2.67175382 3.34130184]
======
The Model Coef :: [ 8.10277130e-02 -7.78181833e-04  5.72881003e-04  7.72807857e-01]
=====
The Model_intercept :: 0.6507799103317096
========
The traning_Score :: 0.8994145790201605
======
The Testing_SCore :: 0.8262437661748734
====
The MAE :: 0.14384361968399847
=======
The MSE :: 0.0310314449429323
=======
The Median_A_E :: 0.1139145762682734