In [10]:
L=[1,20,2.1,"Ahmed",True,False]
print(L)
   
print(type(L))
print(len(L))
print(L[0])
print(L[0:2])
print(L[:4])
print(L[:5])

[1, 20, 2.1, 'Ahmed', True, False]
<class 'list'>
6
1
[1, 20]
[1, 20, 2.1, 'Ahmed']
[1, 20, 2.1, 'Ahmed', True]

In [12]:
x=[30,"ahmed"]
d=[50,40,30,100,55]
x
d
d[:]

[50, 40, 30, 100, 55]

In [13]:
x.append(False)
x

[30, 'ahmed', False]

In [14]:
x.insert(5,"mido")
x

[30, 'ahmed', False, 'mido']

In [15]:
x.insert(2,10000)
x

[30, 'ahmed', 10000, False, 'mido']

In [16]:
x[3]=True
x

[30, 'ahmed', 10000, True, 'mido']

In [20]:
d=x
d

[30, 'ahmed', 10000, True, 'mido']

In [23]:
x.pop()
x

[30, 10000, True]

In [24]:
x.reverse()
x

[True, 10000, 30]

In [26]:
z=[20,50,10,12]
z.sort(reverse=True)
z

[50, 20, 12, 10]

In [38]:
x="Hellow world ahmed"
len(x)
print(x[:3])
print(x[:8])
print(x.split(" "))
print("".join(x))
print(x.replace(" ",";"))
print(x.title())
print(x.upper())
print(x.lower())
print(x.index("o"))
print(x.count("l"))
y="hello{} ahmed{} mido{}".format(5,10,20)
print(y)
print()

Hel
Hellow w
['Hellow', 'world', 'ahmed']
Hellow world ahmed
Hellow;world;ahmed
Hellow World Ahmed
HELLOW WORLD AHMED
hellow world ahmed
4
3
hello5 ahmed10 mido20

In [60]:
d={'k1':[10,20,30],'k2':"mido",'k3':10}
print(d)
print(d["k1"])
print(d.keys())
print(d.values())
d["k4"]="cairo"
print(d)

{'k1': [10, 20, 30], 'k2': 'mido', 'k3': 10}
[10, 20, 30]
dict_keys(['k1', 'k2', 'k3'])
dict_values([[10, 20, 30], 'mido', 10])
{'k1': [10, 20, 30], 'k2': 'mido', 'k3': 10, 'k4': 'cairo'}

In [53]:
s={10,50,12,45,10,12}
print(s)
print(len(s))
print(type(s))

{10, 45, 50, 12}
4
<class 'set'>

In [54]:
t=(10,80,12.3,"ali")
print(t)
print(type(t))

(10, 80, 12.3, 'ali')
<class 'tuple'>

In [ ]:
x=int(input("Enter the num1:"))
y=int(input("Enter the num1:"))
z=x*y

In [ ]:
x=int(input("Enter the num1:"))
y=int(input("Enter the num1:"))
z=x+y
print(z)

In [ ]:
x=5
y=10
if x>y:
    print("x is bigger")
elif x<y :
    print("y is bigger")
elif x==y:
    print("x=y")
else:
    print(!)